
//GLOBALS, GET DEFAULTS
@import "globals/_reset";
@import "globals/_variables";
@import "globals/_mixins";
@import "globals/_extends";

// LIBRARIES (if any)

// SITE SPECIFIC
@import "partials/_variables";
@import "partials/_z-index";
@import "partials/_extends";
@import "partials/_default";

.canon-v-legends {
  a { display: inline-block; padding:8px; border-top-right-radius: 12px; border-top-left-radius: 12px; margin-right: 12px;  cursor: pointer; }
  a.light { background:	hsl(213, 82%, 91%);
    &:hover { background:hsl(213, 100%, 85%); }
  }
  a.dark { background:hsl(209, 77%, 18%);
    &:hover { background:hsl(209, 89%, 28%); }
  }
}

a.mcf-card-article { height:100%; display:block; }


.wiki-link { position: relative; 
  &:before { @include position(absolute,0,0,0,0); content: ' '; background:linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000); }
  figcaption { position: absolute; bottom:20px; left:20px; font-weight: bold; color:white;
    .title { font-size:130%; margin-bottom: 0.5em; }
    .subtitle { opacity: 0.5;; }
  }
}