section(v-if="mode == 'canon'")
  p
    b Achilles' Heelies
    | , a Force-sensitive human male, was an F Plus Ridiculist who celebrated his 30th Birthday amid the COVID lockdown on June 7th, 2020. Along with his companions Spaceboots Stargears, A'dumb Bozeart, and Fat Hank The Pissboy, Heelies liberated the Prisoners of Sandprison from the Evil Emperor Baaa'by, by playing the traditional space game known as Peek-A-Boo, and then freeing all the prisoners while The Emperor had his hands over his eyes. He also had a job at some place.

section(v-if="mode == 'legends'")
  p
    b Achilles' Heelies
    |  USED to be a kick-ass Jedi assassin, before Disney came along and fucking changed everything. He was so cool that he could just straight murder people and he got to keep being a light side Jedi because the force was fine with it. Every time he'd do a sick flip and murder somebody, he'd pull down his shades and say something like "I guess you just couldn't handle the FORCE of my sword", or something, I dunno it was cooler when he said it. The following is an incomplete list
    sup [needs expanding!] 
    |  of Sith that Heelies killed, before Disney ruined his character so they could sell him to children:

  ul
    li  Horker da'Chorker
    li Count Viscous, Lord of the Thiccness
    li Unpleasantous
    li Unknown guy with coffee maker
    li Centruroides Sculpturatus
    li ARghugh
    li The cigarette smoking man
    li Darth Pregante
    li Darth Gregnant
    li Darth Prengan
    li Darth Pgrenant
    li The Wicked Witch (East and West)
    li Aaaron Sore-kin
    li Iniquitous Sinfull
    li Woe Indecency
    li Savage Opress, ahh shit, I fucked up, this one is real
    li Vice President
    li Crimey Harm'em 
    li Demolishor 
    li Insecticon 
    li Megatron 
    li Darth Swell, the approachable Sith lord.
    li Unnamed Sith with cool revolver
    li Unnamed Sith caught in bathroom
    li Unnamed Sith, the guy that missed the day where you pick out your Sith name
    li Garbagebot 7-Ax (only revealed to have been a secret Sith lord later, in the semi-canon "Tales of the garbagebots" comics)
    li Dork Vader
    li Satan...Satia...Satanatadan
    li Darth Xecrable 
    li Nefarious B.I.G.
    li Malificous Intent
    li Atrocitus Tourism
    li Achilles Heeelies
    li Achilles Heeeelies [debatably non-canon]
    li Seileeh Sellihca [technically he was un-killed, since he's from the mirrorverse]
    li Mal Odorous
    li Naz-onex B
    li Drizzt Do'Urden
    li Dingo Egret
    li Keel Basa
    li Kaine and D-Roc, the Yin Yang Twins
    li Ayedee Bee'El, the shame of the Sith
    li Biscuit Baron
    li Damned Margera
    li Poker playing Sith lord 1
    li Poker playing Sith lord 2
    li Poker playing Sith lord 4
    li Darth Vader. That's right bitches, he lived!!!! Oh shit! But he's dead again now. Heelies killed him.
    li George Lucas

  p He used to be fucking baller, is what I'm saying. Now he's like, "oh no maybe I shouldn't kill this unarmed man", it's fucking BULLSHIT. THIS troper won't rest until Disney puts out at least 3 pieces of apocrypha addressing these inconsistencies! Until they do, I refuse to read ANY further star wars content including him (excepting the 3 ongoing series that I'm already reading).

section()
  h2 Appearances
  p Achilles' Heelies first appeared in Star Wars: Episode I The Phantom Menace
    sup [1]
    | . He appears in one scene
    sup [2]
    | , where he and Qui-Gon Jinn talk about how important the trade embargo of Naboo
    sup [3] 
    |  is 
    sup [4]
    | , and explain the various mechanisms of economic control the Sith
    sup [5]
    |  are using to manipulate universal politics
    sup [6]
    | . In the original cut, this scene was 26 minutes long
    sup [7]
    | , but in the final cut it's been trimmed down significantly
    sup [8][9][10]
    | . In fact, the scene only appears in the background of another scene, with Heelies
    sup [11]
    | only halfway-visible on camera
    sup [12],
    | although intrepid observers can still make out parts of the conversation via lip reading.
    sup [13][14]

  p(v-if="mode == 'legends'")
    | In this first appearance, Heelies is portrayed as a small, plantlike creature
    sup [15]. 
    |  This caused fans much confusion when he later appeared in episodes 7
    sup [16] and 9
    sup [17] 
    |  as a human, portrayed by professional Soap shoer
    sup [18]
    |  Ryan
    sup [19]
    |  Jaunzemis
    sup [20]
    | . Even further confusion ensued when it was revealed that one of the small lizards in episode 4
    sup [21] 
    |  was ALSO Heelies
    sup [22]
    | . This was eventually clarified in the 4 book series "The Dragon Trilogy"
    sup [23][24][25][26][27][28]
    | , which reveal that Heelies was, in fact, a Nyantolo
    sup [29]
    | . His various appearances were explained to be a Jedi mind trick he used to disguise himself from his landlord, to whom he owed several months rent
    sup [30]
    | .

section(v-if="mode == 'legends'")

  h2 Military Service

  .quote
    dl
      dd
        span(title='Source: Star Wars: Rogue One: Rebel Dossier')
          | "
          i
            | War! Huh? What is it good for? Absolutely, say it again.
            
          | "
      dd
        | ―
        a(href='https://starwars.fandom.com/wiki/Jan_Dodonna', title='Jan Dodonna') Edwin Starrwarss

  figure.article-thumb.show-info-icon
    a(href="img/fordfusion-big.jpg")
      img(src="img/fordfusion.jpg")
    figcaption
      p.caption Heelies, piloting a FordFusion Thx-69-420, led the liberation of Atheistia During the Battle of Bimbola'and
      
  p  Achilles' Heelies has held several high-ranking positions in both the Galactic Empire and the Rebel Alliance. This is a list of known battles, wars, disputes, and other deadly conflicts, that Heelies has participated in.

  ul
    li Second Galactic Civil War
    li The Battle of Endor
    li The Liberation of Coruscant
    li The Clone Wars
    li The Bone Wars
    li Avengers: Infinity War
    li The Star Wars (different ones)
    li The Pepsi Challenge
    li Darmok and Heelies at Tanagra
    li Battlestar Galactica (stopped watching during season 4)  
    li Tosche Station Jawa-eating Contest

section(v-if="mode == 'canon'")
  h2 Socks
  .quote
    dl
      dd
        span(title='Source: Star Wars: Rogue One: Rebel Dossier')
          | "
          i
            | What is the measure of a man? Is it it his strength of character? How he handles his blade? The tender but firm way that he kisses a woman? No! If you want to  
            strong truly
            |  know a man, you must look at his socks
          | "
      dd
        | ―
        a(href='https://starwars.fandom.com/wiki/Jan_Dodonna', title='Jan Dodonna') Darth Cunning
  figure.article-thumb.tleft.show-info-icon(style='width: 200px')
    a(href="img/socks-big.jpg")
      img(src="img/socks.jpg" style="width:200px;")
    figcaption
      p.caption an actual pair of socks once owned by Achilles Heelies (Photo courtesy of The Institute For Unnecessary Photos)
  p
    | Achilles' Heelies was known to wear a fun pair of dress socks with a geometric pattern
    sup#cite_ref-Catalyst_1-4.reference
      a(href='#cite_note-Catalyst-1') [2]
    | . These socks were believed by some to imbue him with like, The Force, or whatever. Once, Queen Lasertits tried to trick Heelies into removing his socks, by uttering the famous phrase "Ba ba black sheep, have you any wool, I sure think your socks are cool." It's very important that you know Queen Lasertits was from a planet that pronounced the word "wool" with a long "ooo" sound, therefore it rhymed with the word "cool".

section(style="clear:both;")
  h2 Screwdriver
  p A screwdriver was a device used for repairing or dismantling manufactured devices. They were typically made of space-metal, such as Stieelle or Aluminimiminiminiminimum, and are composed of a single cylander of space metal with a shape on one end, and then a handle (or "Hand Grib Device Quadrant", in Loovieum) where the user can grip the screwdriver. Screwdrivers do not have special powers and can't sedate animals or stop bullets. That's not a Star Wars thing, that's fucking 
    i Dr. Who
    | , Phillip! God, you're embarassing yourself.
  p Achilles Heelies owned a screwdriver that is black. He used to have another black screwdriver that he found on an off ramp, and he picked it up and carried for like five years, but eventually he lost it.
  p He also owned a three pound weight that he probably found on a different off-ramp. The purpose of the weight is unknown; Who the fuck needs a three pound weight?

section(v-if="mode == 'canon'")
  h2 Toast
  figure.article-thumb.tright.show-info-icon(style='width: 200px')
    img(src="img/toast-2.jpg" style="width:200px;")
    figcaption
      p.caption A slice of bread that has been toasted, but not a lot.
  
  p Throughout the latter part of 
    strong The War Where The Robots Were Mad At The Humans For Being Mean To Them 
    | and into the majority of 
    strong The War Where Everything Seemed Like It Was Fine But Then The Robots Got Mad Again About How The Humans Treated Them
    | , toast was enjoyed by high ranking government officials as well as lowly staff like the guy that came over to fix My Mom's doorbell last week. I think his name was Carlos. He was weird. Mom wanted me to fix the doorbell but I told her I don't know anything about how doorbells work.

  p Toast was made by applying direct heat to bread. This was done in several ways, but the most common method for converting toast into bread was to use a specialized machine known colloquially as a "toaster" which had heated coils inside that would heat each slice of bread on both sides. Or you could use The Force.
  p Achilles Heelies preferred his toast to be only slightly toasted, which is basically just warm bread.

section(v-if="mode == 'canon'")
  h2 Incredible Powers Over Nature
  p Perhaps owing to his prescription sunglasses, or perhaps his role in 
    strong The 100 Minute Zoning Board Meeting 
    | where beloved Star Wars characters Jesus-Ghandi Saviore and Praetor Looksgoodbutisactuallyevil convened to discuss Space Proposition SP-986, Heelies gained the power to control all animals.
  p As a result, Achilles' Heelies has once pet a llama. Also a wallaby.

section(v-if="mode == 'canon'")
  h2 Martial Arts Prowress
  p He once took a hot yoga class and liked it.

section(v-if="mode == 'canon'")
  h2 Other Culinary Preferences
  p In 
    strong The Battle For Strumnnnn
    | , Achilles Heelies expressed a fondness for what was known as Mexican Food such as enchiladas, refried beans, and Nacho Cheese Doritos. His near constant hunger for Mexican Food could sometimes be satiated by satiated by cooking things in his Parlour d'Pasturage (or "Kitchen")

  p Possessing a skill known to very few Star Wars fans, Achilles could use The Force (and also natural gas, I suppose) to combine ingredients into a Mee'al. His methods for doing this are widely unknown, but it's believed that a spatula shaped like a guitar was involved.

  b
    strong HIS FAVORITE BURNER IS THE BOTTOM LEFT ONE.

br
br


section(v-if="mode == 'legends'")
  h1 Other Storylines
  h2 Role in The LEGO® F Plus™

  p In the 
    strong The LEGO® F Plus™
    |  series of video games for the Xbox One, PlayStation 2, and Panty Panty Mahjong Tablet, the character of Achilles' Heelies does not show up until the third game in the series, 
    strong The LEGO® F Plus™ Jerk Off Every One Of The LEGO™ Harlem Globetrotters
    | . In the game, Heelies is actually portrayed by avante garde performer Diamonda Galas, which is actually just a re-recording of the 1982's "The Litanies of Satan", but nobody seemed to notice until press time.

  p The game received 98 out of 100 on IGN, the worst score of the entire series, with video game journalist Rich Whiteman saying of the subplot where Heelies separates from the rest of the group in order to find one of several hundred thousand special bricks was a victory of the SJWs which somehow ruined his childhood. He then went on to describe his recurring sexual fantasy where he's decapitated by the lady from Lollipop Chainsaw.

  h2 The Very True Adventures Of The F Plus
  p This book was never published.

  h2 Star Wars® The Breakfast Cereal
  br
  br