.wds-global-navigation-wrapper
  #globalNavigation.wds-global-navigation.wds-search-is-always-visible
    .wds-global-navigation__content-bar-left
      a.wds-global-navigation__logo(href='https://www.fandom.com', data-tracking-label='logo')
        svg#wds-company-logo-fandom-white.wds-global-navigation__logo-image(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 164 35')
          g(fill='none', fill-rule='evenodd')
            path(d='M32.003 16.524c0 .288-.115.564-.32.768L18.3 30.712c-.226.224-.454.324-.738.324-.292 0-.55-.11-.77-.325l-.943-.886a.41.41 0 0 1-.01-.59l15.45-15.46c.262-.263.716-.078.716.29v2.46zm-17.167 10.12l-.766.685a.642.642 0 0 1-.872-.02L3.01 17.362c-.257-.25-.4-.593-.4-.95v-1.858c0-.67.816-1.007 1.298-.536l10.814 10.56c.188.187.505.57.505 1.033 0 .296-.068.715-.39 1.035zM5.73 7.395L9.236 3.93a.421.421 0 0 1 .592 0l11.736 11.603a3.158 3.158 0 0 1 0 4.5l-3.503 3.462a.423.423 0 0 1-.59 0L5.732 11.89a3.132 3.132 0 0 1-.937-2.25c0-.85.332-1.65.935-2.246zm13.89 1.982l3.662-3.62a3.232 3.232 0 0 1 2.737-.897c.722.098 1.378.47 1.893.978l3.708 3.667a.41.41 0 0 1 0 .585l-5.64 5.576a.419.419 0 0 1-.59 0l-5.77-5.704a.411.411 0 0 1 0-.585zm14.56-.687L26.014.475a.869.869 0 0 0-1.228-.002L18.307 6.94c-.5.5-1.316.5-1.82.004l-6.48-6.4A.87.87 0 0 0 8.793.542L.447 8.67C.16 8.95 0 9.33 0 9.727v7.7c0 .392.158.77.44 1.048l16.263 16.072a.87.87 0 0 0 1.22 0l16.25-16.073c.28-.278.438-.655.438-1.048V9.73c0-.39-.153-.763-.43-1.04z', fill='#00D6D6')
            path(d='M62.852 20.51l2.58-6.716a.468.468 0 0 1 .87 0l2.58 6.717h-6.03zm5.856-12.428c-.184-.48-.65-.8-1.17-.8h-3.342c-.52 0-.986.32-1.17.8l-7.083 18.5c-.21.552.2 1.14.796 1.14h2.753c.353 0 .67-.215.796-.542l.738-1.922a.849.849 0 0 1 .795-.542h8.088a.85.85 0 0 1 .796.542l.74 1.922c.125.327.44.543.795.543h2.754a.843.843 0 0 0 .796-1.14l-7.082-18.5zm93.504-.8h-2.715a1.86 1.86 0 0 0-1.677 1.047l-5.393 11.162-5.393-11.163a1.858 1.858 0 0 0-1.677-1.047h-2.715a.889.889 0 0 0-.893.883V26.84c0 .487.4.883.892.883h2.608a.889.889 0 0 0 .893-.883v-9.686l4.945 10.072c.15.304.46.497.803.497h1.073a.893.893 0 0 0 .803-.497l4.945-10.072v9.686c0 .487.4.883.894.883h2.608a.889.889 0 0 0 .893-.883V8.166c0-.487-.4-.883-.893-.883zm-106.972 8.8h-8.63V11.49h10.918a.88.88 0 0 0 .83-.578l.888-2.464a.872.872 0 0 0-.83-1.163h-15.18c-.486 0-.88.39-.88.87v18.7c0 .48.394.87.88.87h2.492c.486 0 .88-.39.88-.87V20.29h7.743a.88.88 0 0 0 .83-.578l.89-2.464a.872.872 0 0 0-.83-1.163zm51.76 7.61h-3.615V11.315H107c3.828 0 6.41 2.517 6.41 6.188 0 3.672-2.582 6.19-6.41 6.19zm-.124-16.41h-7.128c-.486 0-.88.39-.88.872v18.698c0 .48.394.87.88.87h7.128c6.453 0 10.912-4.44 10.912-10.16v-.117c0-5.72-4.46-10.162-10.912-10.162zm-11.947.03h-2.642a.87.87 0 0 0-.876.866v12.36l-8.755-12.72a1.242 1.242 0 0 0-1.023-.535H78.32a.873.873 0 0 0-.876.867v18.706c0 .48.393.867.877.867h2.64a.872.872 0 0 0 .878-.867V14.71l8.608 12.478c.23.334.613.535 1.022.535h3.46a.872.872 0 0 0 .877-.867V8.178a.87.87 0 0 0-.876-.867zm40.71 10.3c0 3.323-2.712 6.016-6.056 6.016-3.345 0-6.056-2.693-6.056-6.015v-.22c0-3.322 2.71-6.015 6.056-6.015 3.344 0 6.055 2.693 6.055 6.015v.22zm-6.056-10.44c-5.694 0-10.31 4.576-10.31 10.22v.22c0 5.646 4.616 10.22 10.31 10.22 5.693 0 10.308-4.574 10.308-10.22v-.22c0-5.644-4.615-10.22-10.308-10.22z', fill='#FFF')
      nav.wds-global-navigation__links
        a.wds-global-navigation__link(href='https://www.fandom.com/topics/games', data-tracking-label='link.games')
          | Games
        a.wds-global-navigation__link(href='https://www.fandom.com/topics/movies', data-tracking-label='link.movies')
          | Movies
        a.wds-global-navigation__link(href='https://www.fandom.com/topics/tv', data-tracking-label='link.tv')
          | TV
        a.wds-global-navigation__link(href='https://www.fandom.com/video', data-tracking-label='link.video')
          | Video
        .wds-dropdown.wds-global-navigation__link-group.wds-has-dark-shadow
          .wds-dropdown__toggle.wds-global-navigation__dropdown-toggle.wds-global-navigation__link
            span Wikis
            svg#wds-icons-dropdown-tiny.wds-icon.wds-icon-tiny.wds-dropdown__toggle-chevron(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
              defs
                path#dropdown-tiny-a(d='M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z')
              use(fill-rule='evenodd', xlink:href='#dropdown-tiny-a')
          .wds-dropdown__content.wds-global-navigation__dropdown-content
            ul.wds-list.wds-is-linked
              li
                a(href='https://www.fandom.com/explore', data-tracking-label='link.explore')
                  | Explore Wikis
              li
                a(href='//community.fandom.com/wiki/Community_Central', data-tracking-label='link.community-central')
                  | Community Central
              li
                a.wds-button.wds-is-secondary.wds-global-navigation__link-button(href='https://ucp.fandom.com/wiki/Special:CreateNewWiki', data-tracking-label='link.start-a-wiki')
                  | Start a Wiki
    .wds-global-navigation__content-bar-right
      .wds-global-navigation__dropdown-controls
        form.wds-global-navigation__search-container(action='//starwars.fandom.com/wiki/Special:Search')
          .wds-global-navigation__search
            .wds-global-navigation__search-toggle
              svg#wds-icons-magnifying-glass-small.wds-icon.wds-icon-small.wds-global-navigation__search-toggle-icon(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 18 18')
                path(d='M11.563 11.504l-.03.029-.03.031A4.984 4.984 0 0 1 8 13c-2.757 0-5-2.243-5-5s2.243-5 5-5c2.756 0 5 2.243 5 5a4.983 4.983 0 0 1-1.437 3.504m5.144 3.789l-3.103-3.103A6.963 6.963 0 0 0 15 8c0-3.859-3.141-7-7-7-3.86 0-7 3.141-7 7s3.14 7 7 7a6.956 6.956 0 0 0 4.189-1.396l3.103 3.103a1.001 1.001 0 0 0 1.415-1.414', fill-rule='evenodd')
              svg#wds-icons-magnifying-glass.wds-icon.wds-global-navigation__search-toggle-icon(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
                path(d='M10.5 18C6.364 18 3 14.636 3 10.5S6.364 3 10.5 3 18 6.364 18 10.5 14.636 18 10.5 18m12.207 3.293l-4.823-4.822A9.455 9.455 0 0 0 20 10.5C20 5.262 15.738 1 10.5 1S1 5.262 1 10.5 5.262 20 10.5 20c2.26 0 4.338-.793 5.97-2.115l4.823 4.822a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414')
              span.wds-global-navigation__search-toggle-text
                | Search
            .wds-dropdown.wds-global-navigation__search-dropdown.wds-no-chevron.wds-has-dark-shadow
              .wds-dropdown__toggle.wds-global-navigation__search-input-wrapper
                input.wds-global-navigation__search-input(type='search', name='query', placeholder='Search Wookieepedia...', autocomplete='off', data-suggestions-url='//starwars.fandom.com/wikia.php?controller=LinkSuggest&method=getLinkSuggestions&format=json', data-suggestions-param-name='query', data-suggestions-tracking-label='search-suggestion')
                button.wds-button.wds-is-text.wds-global-navigation__search-close(type='button')
                  svg#wds-icons-close-tiny.wds-icon.wds-icon-tiny.wds-global-navigation__search-close-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
                    defs
                      path#close-tiny(d='M7.426 6.001l4.278-4.279A1.008 1.008 0 1 0 10.278.296L6 4.574 1.723.296A1.008 1.008 0 1 0 .295 1.722l4.278 4.28-4.279 4.277a1.008 1.008 0 1 0 1.427 1.426L6 7.427l4.278 4.278a1.006 1.006 0 0 0 1.426 0 1.008 1.008 0 0 0 0-1.426L7.425 6.001z')
                    use(fill-rule='evenodd', xlink:href='#close-tiny')
                button.wds-button.wds-global-navigation__search-submit(data-tracking-label='search')
                  svg#wds-icons-arrow-small.wds-icon.wds-icon-small.wds-global-navigation__search-submit-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 18 18')
                    defs
                      path#arrow-small(d='M8 17a.997.997 0 0 1-.707-.293l-7-7A.983.983 0 0 1 0 9.003v-.006a.988.988 0 0 1 .293-.704l7-7a.999.999 0 1 1 1.414 1.414L3.414 8H17a1 1 0 1 1 0 2H3.414l5.293 5.293A.999.999 0 0 1 8 17')
                    use(xlink:href='#arrow-small')
        .wds-dropdown.wds-global-navigation__user-menu.wds-has-dark-shadow.wds-global-navigation__user-anon
          .wds-dropdown__toggle
            .wds-avatar(title='')
              svg#wds-icons-avatar.wds-avatar__image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 24 24')
                defs
                  path#user-avatar-a(d='M12 11c-.965 0-1.75-.785-1.75-1.75S11.035 7.5 12 7.5s1.75.785 1.75 1.75S12.965 11 12 11m0-5.5a3.754 3.754 0 0 0-3.75 3.75A3.754 3.754 0 0 0 12 13a3.754 3.754 0 0 0 3.75-3.75A3.754 3.754 0 0 0 12 5.5m7.679 12.914c-1.987-2.104-4.727-3.289-7.679-3.289-2.953 0-5.692 1.185-7.679 3.289A9.955 9.955 0 0 1 2 12C2 6.486 6.486 2 12 2s10 4.486 10 10a9.956 9.956 0 0 1-2.321 6.414M12 22a9.995 9.995 0 0 1-6.25-2.187c1.613-1.719 3.844-2.688 6.25-2.688s4.637.969 6.249 2.688A9.993 9.993 0 0 1 12 22m0-22C5.383 0 0 5.383 0 12c0 3.268 1.294 6.33 3.651 8.63l.012.013A12 12 0 0 0 12 24h.036a12.008 12.008 0 0 0 8.306-3.363C22.701 18.341 24 15.273 24 12c0-6.617-5.383-12-12-12')
                use(fill-rule='evenodd', xlink:href='#user-avatar-a')
            svg#wds-icons-dropdown-tiny.wds-icon.wds-icon-tiny.wds-dropdown__toggle-chevron(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
              defs
                path#dropdown-tiny-a(d='M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z')
              use(fill-rule='evenodd', xlink:href='#dropdown-tiny-a')
          .wds-dropdown__content.wds-is-right-aligned
            ul.wds-list.wds-has-lines-between
              li
                a.wds-button.wds-is-full-width(href='https://www.fandom.com/signin?redirect=https%3A%2F%2Fstarwars.fandom.com%2Fwiki%2FKyber_crystal', rel='nofollow', data-tracking-label='account.sign-in')
                  | Sign In
              li
                .wds-global-navigation__user-menu-dropdown-caption Don't have an account?
                a.wds-button.wds-is-full-width.wds-is-secondary(href='https://www.fandom.com/register?redirect=https%3A%2F%2Fstarwars.fandom.com%2Fwiki%2FKyber_crystal', rel='nofollow', data-tracking-label='account.register')
                  | Register
        .wds-global-navigation__start-a-wiki
          a.wds-button.wds-is-secondary.wds-global-navigation__link-button(href='https://ucp.fandom.com/wiki/Special:CreateNewWiki', data-tracking-label='start-a-wiki')
            | Start a Wiki

.banner-notifications-placeholder
  #WikiaTopAds.WikiaTopAds
    img(:src="'img/'+currentBanner")