header.wds-community-header(style='background-image: url(https://vignette.wikia.nocookie.net/starwars/images/0/0e/Community-header-background/revision/latest/zoom-crop/width/471/height/115?cb=20200219113532);')
  .wds-community-header__wordmark(data-tracking='wordmark-image')
    a(accesskey='z', href='//starwars.fandom.com')
      img(src='https://images.wikia.nocookie.net/__cb74/starwars/images/8/89/Wiki-wordmark.png', alt='Wookieepedia, the Star Wars Wiki', width='250', height='65')
  .wds-community-header__top-container
    .wds-community-header__sitename(data-tracking='sitename')
      a(href='//starwars.fandom.com') Wookieepedia, the Star Wars Wiki
    .wds-community-header__counter(data-tracking='counter')
      span.wds-community-header__counter-value 157,003
      span.wds-community-header__counter-label Pages
    .wds-community-header__wiki-buttons.wds-button-group
      a.wds-button.wds-is-secondary.createpage(href='https://starwars.fandom.com/wiki/Special:CreatePage', data-tracking='add-new-page', title='Add new page')
        svg#wds-icons-page-small.wds-icon.wds-icon-small(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 18 18')
          path(d='M10 12v2.586L12.586 12H10zm-6 4h4v-5a1 1 0 0 1 1-1h5V2H4v14zm5 2H3a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9.992c0 .043-.002.086-.007.128l-.001.003v.006a1.19 1.19 0 0 1-.023.119l-.001.002-.001.006-.001.002v.001a1 1 0 0 1-.254.444s-.002 0-.002.002h-.001l-.002.002-6 6-.003.004-.003.002-.001.001a1.003 1.003 0 0 1-.435.251h-.004a.885.885 0 0 1-.136.027h-.004c-.001.001.005.004-.004.001l-.003.001A1.088 1.088 0 0 1 9 18z')
        span Add new page
  nav.wds-community-header__local-navigation
    ul.wds-tabs
      li.wds-tabs__tab
        .wds-dropdown
          .wds-tabs__tab-label.wds-dropdown__toggle
            a(href='https://starwars.fandom.com/wiki/The_Clone_Wars:_Season_Seven', data-tracking='custom-level-1')
              span The Clone Wars Season 7
            svg#wds-icons-dropdown-tiny.wds-icon.wds-icon-tiny.wds-dropdown__toggle-chevron(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
              defs
                path#dropdown-tiny-a(d='M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z')
              use(fill-rule='evenodd', xlink:href='#dropdown-tiny-a')
          .wds-is-not-scrollable.wds-dropdown__content
            ul.wds-list.wds-is-linked.wds-has-bolded-items
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/The_Clone_Wars:_Season_Seven', data-tracking='custom-level-2')
                  span Episodes
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/On_the_Wings_of_Keeradaks', data-tracking='custom-level-3') On the Wings of Keeradaks
                    li
                      a(href='https://starwars.fandom.com/wiki/Unfinished_Business', data-tracking='custom-level-3') Unfinished Business
                    li
                      a(href='https://starwars.fandom.com/wiki/Gone_with_a_Trace', data-tracking='custom-level-3') Gone with a Trace
                    li
                      a(href='https://starwars.fandom.com/wiki/Deal_No_Deal', data-tracking='custom-level-3') Deal No Deal
                    li
                      a(href='https://starwars.fandom.com/wiki/Dangerous_Debt', data-tracking='custom-level-3') Dangerous Debt
                    li
                      a(href='https://starwars.fandom.com/wiki/Together_Again', data-tracking='custom-level-3') Together Again
                    li
                      a(href='https://starwars.fandom.com/wiki/Old_Friends_Not_Forgotten', data-tracking='custom-level-3') Old Friends Not Forgotten
                    li
                      a(href='https://starwars.fandom.com/wiki/The_Phantom_Apprentice', data-tracking='custom-level-3') The Phantom Apprentice
                    li
                      a(href='https://starwars.fandom.com/wiki/Shattered', data-tracking='custom-level-3') Shattered
                    li
                      a(href='https://starwars.fandom.com/wiki/Victory_and_Death', data-tracking='custom-level-3') Victory and Death
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Characters', data-tracking='custom-level-2')
                  span Characters
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Padm%C3%A9_Amidala', data-tracking='custom-level-3') Padmé Amidala
                    li
                      a(href='https://starwars.fandom.com/wiki/Rex', data-tracking='custom-level-3') Captain Rex
                    li
                      a(href='https://starwars.fandom.com/wiki/Obi-Wan_Kenobi', data-tracking='custom-level-3') Obi-Wan Kenobi
                    li
                      a(href='https://starwars.fandom.com/wiki/Bo-Katan_Kryze', data-tracking='custom-level-3') Bo-Katan Kryze
                    li
                      a(href='https://starwars.fandom.com/wiki/Martez_family', data-tracking='custom-level-3') Martez sisters
                    li
                      a(href='https://starwars.fandom.com/wiki/Anakin_Skywalker', data-tracking='custom-level-3') Anakin Skywalker
                    li
                      a(href='https://starwars.fandom.com/wiki/Ahsoka_Tano', data-tracking='custom-level-3') Ahsoka Tano
                    li
                      a(href='https://starwars.fandom.com/wiki/Trench', data-tracking='custom-level-3') Trench
                    li
                      a(href='https://starwars.fandom.com/wiki/Mace_Windu', data-tracking='custom-level-3') Mace Windu
                    li
                      a(href='https://starwars.fandom.com/wiki/Yoda', data-tracking='custom-level-3') Yoda
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Clone_Force_99', data-tracking='custom-level-2')
                  span The Bad Batch
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Hunter', data-tracking='custom-level-3') Hunter
                    li
                      a(href='https://starwars.fandom.com/wiki/Crosshair', data-tracking='custom-level-3') Crosshair
                    li
                      a(href='https://starwars.fandom.com/wiki/Tech', data-tracking='custom-level-3') Tech
                    li
                      a(href='https://starwars.fandom.com/wiki/Wrecker', data-tracking='custom-level-3') Wrecker
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Mandalorian', data-tracking='custom-level-2')
                  span Mandalorians
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Bo-Katan_Kryze', data-tracking='custom-level-3') Bo-Katan Kryze
                    li
                      a(href='https://starwars.fandom.com/wiki/Ursa_Wren', data-tracking='custom-level-3') Ursa Wren
                    li
                      a(href='https://starwars.fandom.com/wiki/Almec', data-tracking='custom-level-3') Prime Minister Almec
                    li
                      a(href='https://starwars.fandom.com/wiki/Gar_Saxon', data-tracking='custom-level-3') Gar Saxon
                    li
                      a(href='https://starwars.fandom.com/wiki/Rook_Kast', data-tracking='custom-level-3') Rook Kast
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Organizations', data-tracking='custom-level-2')
                  span Organizations
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Confederacy_of_Independent_Systems', data-tracking='custom-level-3') Confederacy of Independent Systems
                    li
                      a(href='https://starwars.fandom.com/wiki/Galactic_Republic', data-tracking='custom-level-3') Galactic Republic
                    li
                      a(href='https://starwars.fandom.com/wiki/Grand_Army_of_the_Republic', data-tracking='custom-level-3') Grand Army of the Republic
                    li
                      a(href='https://starwars.fandom.com/wiki/Clone_commando', data-tracking='custom-level-3') Clone commandos
                    li
                      a(href='https://starwars.fandom.com/wiki/Jedi_Order', data-tracking='custom-level-3') Jedi Order
                    li
                      a(href='https://starwars.fandom.com/wiki/Nite_Owls', data-tracking='custom-level-3') Nite Owls
                    li
                      a(href='https://starwars.fandom.com/wiki/Mandalorian_super_commando', data-tracking='custom-level-3') Mandalorian super commandos
                    li
                      a(href='https://starwars.fandom.com/wiki/Shadow_Collective', data-tracking='custom-level-3') Shadow Collective
                    li
                      a(href='https://starwars.fandom.com/wiki/Pyke_Syndicate', data-tracking='custom-level-3') Pyke Syndicate
                    li
                      a(href='https://starwars.fandom.com/wiki/Crimson_Dawn', data-tracking='custom-level-3') Crimson Dawn
      li.wds-tabs__tab
        .wds-dropdown
          .wds-tabs__tab-label.wds-dropdown__toggle
            a(href='https://starwars.fandom.com/wiki/Star_Wars', data-tracking='custom-level-1')
              span Star Wars
            svg#wds-icons-dropdown-tiny.wds-icon.wds-icon-tiny.wds-dropdown__toggle-chevron(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
              defs
                path#dropdown-tiny-a(d='M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z')
              use(fill-rule='evenodd', xlink:href='#dropdown-tiny-a')
          .wds-is-not-scrollable.wds-dropdown__content
            ul.wds-list.wds-is-linked.wds-has-bolded-items
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Skywalker_saga', data-tracking='custom-level-2')
                  span Skywalker saga
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_Episode_I_The_Phantom_Menace', data-tracking='custom-level-3') The Phantom Menace
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_Episode_II_Attack_of_the_Clones', data-tracking='custom-level-3') Attack of the Clones
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_Episode_III_Revenge_of_the_Sith', data-tracking='custom-level-3') Revenge of the Sith
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_Episode_IV_A_New_Hope', data-tracking='custom-level-3') A New Hope
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_Episode_V_The_Empire_Strikes_Back', data-tracking='custom-level-3') The Empire Strikes Back
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_Episode_VI_Return_of_the_Jedi', data-tracking='custom-level-3') Return of the Jedi
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_Episode_VII_The_Force_Awakens', data-tracking='custom-level-3') The Force Awakens
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_Episode_VIII_The_Last_Jedi', data-tracking='custom-level-3') The Last Jedi
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_Episode_IX_The_Rise_of_Skywalker', data-tracking='custom-level-3') The Rise of Skywalker
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Standalone_films_and_television', data-tracking='custom-level-2')
                  span Standalone films and television
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Solo:_A_Star_Wars_Story', data-tracking='custom-level-3') Solo
                    li
                      a(href='https://starwars.fandom.com/wiki/Rogue_One:_A_Star_Wars_Story', data-tracking='custom-level-3') Rogue One
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars:_The_Clone_Wars_(TV_series)', data-tracking='custom-level-3') The Clone Wars
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars_Rebels', data-tracking='custom-level-3') Rebels
                    li
                      a(href='https://starwars.fandom.com/wiki/Star_Wars_Resistance', data-tracking='custom-level-3') Resistance
                    li
                      a(href='https://starwars.fandom.com/wiki/The_Mandalorian', data-tracking='custom-level-3') The Mandalorian
                    li
                      a(href='https://starwars.fandom.com/wiki/Untitled_Cassian_Andor_television_series', data-tracking='custom-level-3') Untitled Cassian Andor television series
                    li
                      a(href='https://starwars.fandom.com/wiki/Untitled_Obi-Wan_Kenobi_television_series', data-tracking='custom-level-3') Untitled Obi-Wan Kenobi television series
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Prequel_Trilogy_characters', data-tracking='custom-level-2')
                  span Prequel Trilogy characters
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Anakin_Skywalker', data-tracking='custom-level-3') Anakin Skywalker
                    li
                      a(href='https://starwars.fandom.com/wiki/Obi-Wan_Kenobi', data-tracking='custom-level-3') Obi-Wan Kenobi
                    li
                      a(href='https://starwars.fandom.com/wiki/Padm%C3%A9_Amidala', data-tracking='custom-level-3') Padmé Amidala
                    li
                      a(href='https://starwars.fandom.com/wiki/Qui-Gon_Jinn', data-tracking='custom-level-3') Qui-Gon Jinn
                    li
                      a(href='https://starwars.fandom.com/wiki/Mace_Windu', data-tracking='custom-level-3') Mace Windu
                    li
                      a(href='https://starwars.fandom.com/wiki/Jar_Jar_Binks', data-tracking='custom-level-3') Jar Jar Binks
                    li
                      a(href='https://starwars.fandom.com/wiki/Darth_Sidious', data-tracking='custom-level-3') Palpatine
                    li
                      a(href='https://starwars.fandom.com/wiki/Maul', data-tracking='custom-level-3') Darth Maul
                    li
                      a(href='https://starwars.fandom.com/wiki/Dooku', data-tracking='custom-level-3') Dooku
                    li
                      a(href='https://starwars.fandom.com/wiki/Grievous', data-tracking='custom-level-3') Grievous
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Original_Trilogy_characters', data-tracking='custom-level-2')
                  span Original Trilogy characters
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Luke_Skywalker', data-tracking='custom-level-3') Luke Skywalker
                    li
                      a(href='https://starwars.fandom.com/wiki/Leia_Organa', data-tracking='custom-level-3') Leia Organa
                    li
                      a(href='https://starwars.fandom.com/wiki/Han_Solo', data-tracking='custom-level-3') Han Solo
                    li
                      a(href='https://starwars.fandom.com/wiki/Lando_Calrissian', data-tracking='custom-level-3') Lando Calrissian
                    li
                      a(href='https://starwars.fandom.com/wiki/Chewbacca', data-tracking='custom-level-3') Chewbacca
                    li
                      a(href='https://starwars.fandom.com/wiki/C-3PO', data-tracking='custom-level-3') C-3PO
                    li
                      a(href='https://starwars.fandom.com/wiki/R2-D2', data-tracking='custom-level-3') R2-D2
                    li
                      a(href='https://starwars.fandom.com/wiki/Wilhuff_Tarkin', data-tracking='custom-level-3') Wilhuff Tarkin
                    li
                      a(href='https://starwars.fandom.com/wiki/Mon_Mothma', data-tracking='custom-level-3') Mon Mothma
                    li
                      a(href='https://starwars.fandom.com/wiki/Yoda', data-tracking='custom-level-3') Yoda
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Sequel_Trilogy_characters', data-tracking='custom-level-2')
                  span Sequel Trilogy characters
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Rey', data-tracking='custom-level-3') Rey
                    li
                      a(href='https://starwars.fandom.com/wiki/Kylo_Ren', data-tracking='custom-level-3') Kylo Ren
                    li
                      a(href='https://starwars.fandom.com/wiki/Poe_Dameron', data-tracking='custom-level-3') Poe Dameron
                    li
                      a(href='https://starwars.fandom.com/wiki/Finn', data-tracking='custom-level-3') Finn
                    li
                      a(href='https://starwars.fandom.com/wiki/Armitage_Hux', data-tracking='custom-level-3') Armitage Hux
                    li
                      a(href='https://starwars.fandom.com/wiki/Phasma', data-tracking='custom-level-3') Phasma
                    li
                      a(href='https://starwars.fandom.com/wiki/Rose_Tico', data-tracking='custom-level-3') Rose Tico
                    li
                      a(href='https://starwars.fandom.com/wiki/BB-8', data-tracking='custom-level-3') BB-8
                    li
                      a(href='https://starwars.fandom.com/wiki/Snoke', data-tracking='custom-level-3') Snoke
                    li
                      a(href='https://starwars.fandom.com/wiki/Maz_Kanata', data-tracking='custom-level-3') Maz Kanata
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Other_characters', data-tracking='custom-level-2')
                  span Other characters
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Jyn_Erso', data-tracking='custom-level-3') Jyn Erso
                    li
                      a(href='https://starwars.fandom.com/wiki/Cassian_Jeron_Andor', data-tracking='custom-level-3') Cassian Jeron Andor
                    li
                      a(href='https://starwars.fandom.com/wiki/Orson_Callan_Krennic', data-tracking='custom-level-3') Orson Callan Krennic
                    li
                      a(href='https://starwars.fandom.com/wiki/Tobias_Beckett', data-tracking='custom-level-3') Tobias Beckett
                    li
                      a(href='https://starwars.fandom.com/wiki/Qi%27ra', data-tracking='custom-level-3') Qi'ra
                    li
                      a(href='https://starwars.fandom.com/wiki/Dryden_Vos', data-tracking='custom-level-3') Dryden Vos
                    li
                      a(href='https://starwars.fandom.com/wiki/Din_Djarin', data-tracking='custom-level-3') The Mandalorian
                    li
                      a(href='https://starwars.fandom.com/wiki/The_Child', data-tracking='custom-level-3') The Child
                    li
                      a(href='https://starwars.fandom.com/wiki/Gideon', data-tracking='custom-level-3') Gideon
                    li
                      a(href='https://starwars.fandom.com/wiki/Cal_Kestis', data-tracking='custom-level-3') Cal Kestis
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Animated_characters', data-tracking='custom-level-2')
                  span Animated characters
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Ahsoka_Tano', data-tracking='custom-level-3') Ahsoka Tano
                    li
                      a(href='https://starwars.fandom.com/wiki/Rex', data-tracking='custom-level-3') Rex
                    li
                      a(href='https://starwars.fandom.com/wiki/Kanan_Jarrus', data-tracking='custom-level-3') Kanan Jarrus
                    li
                      a(href='https://starwars.fandom.com/wiki/Ezra_Bridger', data-tracking='custom-level-3') Ezra Bridger
                    li
                      a(href='https://starwars.fandom.com/wiki/Mitth%27raw%27nuruodo', data-tracking='custom-level-3') Thrawn
                    li
                      a(href='https://starwars.fandom.com/wiki/Hera_Syndulla', data-tracking='custom-level-3') Hera Syndulla
                    li
                      a(href='https://starwars.fandom.com/wiki/Kazuda_Xiono', data-tracking='custom-level-3') Kazuda Xiono
                    li
                      a(href='https://starwars.fandom.com/wiki/Tamara_Ryvora', data-tracking='custom-level-3') Tamara Ryvora
                    li
                      a(href='https://starwars.fandom.com/wiki/Jarek_Yeager', data-tracking='custom-level-3') Jarek Yeager
                    li
                      a(href='https://starwars.fandom.com/wiki/Neeku_Vozo', data-tracking='custom-level-3') Neeku Vozo
      li.wds-tabs__tab
        .wds-dropdown
          .wds-tabs__tab-label.wds-dropdown__toggle
            a(href='https://starwars.fandom.com/wiki/Main_page', data-tracking='custom-level-1')
              span Navigation
            svg#wds-icons-dropdown-tiny.wds-icon.wds-icon-tiny.wds-dropdown__toggle-chevron(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
              defs
                path#dropdown-tiny-a(d='M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z')
              use(fill-rule='evenodd', xlink:href='#dropdown-tiny-a')
          .wds-is-not-scrollable.wds-dropdown__content
            ul.wds-list.wds-is-linked.wds-has-bolded-items
              li
                a(href='https://starwars.fandom.com/wiki/Special:RecentChanges', data-tracking='custom-level-2')
                  | Recent changes
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Category:Star_Wars', data-tracking='custom-level-2')
                  span Articles
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Special:AllPages', data-tracking='custom-level-3') Content A-Z
                    li
                      a(href='https://starwars.fandom.com/wiki/Special:Random', data-tracking='custom-level-3') Random page
                    li
                      a(href='https://starwars.fandom.com/wiki/Category:Browse', data-tracking='custom-level-3') Browse articles by category
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Category:Wookieepedia_status_articles', data-tracking='custom-level-2')
                  span Status Articles
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Featured_articles', data-tracking='custom-level-3') Featured articles
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Featured_article_nominations', data-tracking='custom-level-3') Featured article nominations
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Good_articles', data-tracking='custom-level-3') Good articles
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Good_article_nominations', data-tracking='custom-level-3') Good article nominations
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Comprehensive_articles', data-tracking='custom-level-3') Comprehensive articles
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Comprehensive_article_nominations', data-tracking='custom-level-3') Comprehensive article nominations
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Featured_article_tutorials', data-tracking='custom-level-3') How to nominate an article
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Help:Contents', data-tracking='custom-level-2')
                  span Help
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Tutorial', data-tracking='custom-level-3') Getting started on Wookieepedia
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Guide_to_image_use', data-tracking='custom-level-3') Uploading and using images
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Jundland_Wastes', data-tracking='custom-level-3') Make test edits
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Vandalism_in_progress', data-tracking='custom-level-3') Report vandalism
              li.wds-is-sticked-to-parent.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Wookieepedia:FAQ', data-tracking='custom-level-2')
                  span Frequently asked questions
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Things_to_do', data-tracking='custom-level-3') Ways to help Wookieepedia
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Canon_policy', data-tracking='custom-level-3') How Wookieepedia treats Canon and Legends
      li.wds-tabs__tab
        .wds-dropdown
          .wds-tabs__tab-label.wds-dropdown__toggle
            a(href='https://starwars.fandom.com/wiki/Wookieepedia:Welcome,_newcomers', data-tracking='custom-level-1')
              span Community
            svg#wds-icons-dropdown-tiny.wds-icon.wds-icon-tiny.wds-dropdown__toggle-chevron(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
              defs
                path#dropdown-tiny-a(d='M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z')
              use(fill-rule='evenodd', xlink:href='#dropdown-tiny-a')
          .wds-is-not-scrollable.wds-dropdown__content
            ul.wds-list.wds-is-linked.wds-has-bolded-items
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Wookieepedia:About', data-tracking='custom-level-2')
                  span About Wookieepedia
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Special:UserSignup', data-tracking='custom-level-3') Join Wookieepedia
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:What_Wookieepedia_is_not', data-tracking='custom-level-3') What Wookieepedia is not
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Interviews', data-tracking='custom-level-3') Star Wars VIP interviews
                    li
                      a(href='https://starwars.fandom.com/wiki/List_of_Star_Wars_Wikis_in_other_languages', data-tracking='custom-level-3') Wookieepedia in other languages
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Wookieepedia:Policies', data-tracking='custom-level-2')
                  span Site policies
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Attribution', data-tracking='custom-level-3') Attribution
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Copyrights', data-tracking='custom-level-3') Copyrights
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Images', data-tracking='custom-level-3') Images
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Layout_Guide', data-tracking='custom-level-3') Layout Guide
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Manual_of_Style', data-tracking='custom-level-3') Manual of Style
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Naming_policy', data-tracking='custom-level-3') Naming Policy
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Policy_and_consensus_updates', data-tracking='custom-level-3') Policy and consensus updates
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Spoilers', data-tracking='custom-level-3') Spoilers
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Sourcing', data-tracking='custom-level-3') Sourcing
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Category:Forum', data-tracking='custom-level-2')
                  span Forums
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Forum:Senate_Hall', data-tracking='custom-level-3') Senate Hall
                    li
                      a(href='https://starwars.fandom.com/wiki/Forum:Knowledge_Bank', data-tracking='custom-level-3') Knowledge Bank
                    li
                      a(href='https://starwars.fandom.com/wiki/Forum:Consensus_track', data-tracking='custom-level-3') Consensus track
                    li
                      a(href='https://starwars.fandom.com/wiki/Forum:Administrators%27_noticeboard', data-tracking='custom-level-3') Administrators' noticeboard
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Wookieepedian_of_the_Month', data-tracking='custom-level-3') Wookieepedian of the Month
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia_Contests:Main', data-tracking='custom-level-3') Contests and giveaways
              li.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Wookieepedia:WookieeProject', data-tracking='custom-level-2')
                  span WookieeProjects
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:WookieeProject_Astrography', data-tracking='custom-level-3') Astrography
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:WookieeProject_Battlefront', data-tracking='custom-level-3') Battlefront
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:WookieeProject_Galaxy%27s_Edge', data-tracking='custom-level-3') Galaxy's Edge
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:WookieeProject_Resistance', data-tracking='custom-level-3') Resistance
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:WookieeProject_The_Clone_Wars', data-tracking='custom-level-3') The Clone Wars
              li.wds-is-sticked-to-parent.wds-dropdown-level-2
                a.wds-dropdown-level-2__toggle(href='https://starwars.fandom.com/wiki/Wookieepedia:Contact', data-tracking='custom-level-2')
                  span Contact
                  svg#wds-icons-menu-control-tiny.wds-icon.wds-icon-tiny.wds-dropdown-chevron(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12 12')
                    path(d='M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414', fill-rule='evenodd')
                .wds-is-not-scrollable.wds-dropdown-level-2__content
                  ul.wds-list.wds-is-linked
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:Administrators', data-tracking='custom-level-3') Administration
                    li
                      a(href='https://starwars.fandom.com/wiki/Wookieepedia:IRC', data-tracking='custom-level-3') Chat
      li.wds-tabs__tab
        .wds-dropdown
          .wds-tabs__tab-label.wds-dropdown__toggle
            svg#wds-icons-book-tiny.wds-icon-tiny.wds-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
              defs
                path#book-tiny(d='M3.5 3C2.673 3 2 3.673 2 4.5v2.338c.91-.434 2.09-.434 3 0V4.5c0-.397-.159-.785-.437-1.063A1.513 1.513 0 0 0 3.5 3m5 3.5c.537 0 1.045.121 1.5.338V4.5c0-.397-.159-.785-.437-1.063A1.502 1.502 0 0 0 7 4.5v2.338A3.473 3.473 0 0 1 8.5 6.5M11 11a1 1 0 0 1-1-1c0-.827-.673-1.5-1.5-1.5S7 9.173 7 10a1 1 0 1 1-2 0c0-.827-.673-1.5-1.5-1.5S2 9.173 2 10a1 1 0 1 1-2 0V4.5a3.504 3.504 0 0 1 5.977-2.477l.026.027A3.489 3.489 0 0 1 8.5 1c.937 0 1.817.363 2.477 1.023A3.524 3.524 0 0 1 12 4.5V10a1 1 0 0 1-1 1')
              use(fill-rule='evenodd', xlink:href='#book-tiny')
            span Explore
            svg#wds-icons-dropdown-tiny.wds-icon.wds-icon-tiny.wds-dropdown__toggle-chevron(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
              defs
                path#dropdown-tiny-a(d='M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z')
              use(fill-rule='evenodd', xlink:href='#dropdown-tiny-a')
          .wds-is-not-scrollable.wds-dropdown__content
            ul.wds-list.wds-is-linked.wds-has-bolded-items
              li
                a(href='//starwars.fandom.com/wiki/Special:WikiActivity', data-tracking='explore-activity') Wiki Activity
              li
                a(href='//starwars.fandom.com/wiki/Special:Random', data-tracking='explore-random') Random page
              li
                a(href='//starwars.fandom.com/wiki/Special:Community', data-tracking='explore-community') Community
              li
                a(href='//starwars.fandom.com/wiki/Special:Videos', data-tracking='explore-videos') Videos
              li
                a(href='//starwars.fandom.com/wiki/Special:Images', data-tracking='explore-images') Images
      li.wds-tabs__tab
        .wds-tabs__tab-label
          a(href='/f', data-tracking='discuss')
            svg#wds-icons-comment-tiny.wds-icon-tiny.wds-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 12 12')
              defs
                path#comment-tiny(d='M4.5 2c-.668 0-1.293.26-1.757.731A2.459 2.459 0 0 0 2 4.5c0 1.235.92 2.297 2.141 2.47A1 1 0 0 1 5 7.96v.626l1.293-1.293A.997.997 0 0 1 7 7h.5c.668 0 1.293-.26 1.757-.731.483-.476.743-1.1.743-1.769C10 3.122 8.878 2 7.5 2h-3zM4 12a1 1 0 0 1-1-1V8.739A4.52 4.52 0 0 1 0 4.5c0-1.208.472-2.339 1.329-3.183A4.424 4.424 0 0 1 4.5 0h3C9.981 0 12 2.019 12 4.5a4.432 4.432 0 0 1-1.329 3.183A4.424 4.424 0 0 1 7.5 9h-.086l-2.707 2.707A1 1 0 0 1 4 12z')
              use(fill-rule='evenodd', xlink:href='#comment-tiny')
            span Discuss