#WikiaRailWrapper.WikiaRail
  #WikiaRail.wikia-rail-inner
    div(style="position:sticky; top:70px;")
      .grid(columns="1")
        figure
          img(src="img/sidebar/disney.gif")
        //-figure
          img(src="img/sidebar/cc.gif")
        figure
          img(src="img/sidebar/oz1.gif")