- var testing = false
- var siteTitle = "Wookieepedia: Achilles' Heelies"
- var siteURL = "https://heelies.info"
- var description = "Achilles' Heelies, a Force-sensitive human male, was an F Plus Ridiculist who celebrated his 30th Birthday amid the COVID lockdown on June 7th, 2020."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()