
<header class="wds-community-header" style="background-image: url(https://vignette.wikia.nocookie.net/starwars/images/0/0e/Community-header-background/revision/latest/zoom-crop/width/471/height/115?cb=20200219113532);">
  <div class="wds-community-header__wordmark" data-tracking="wordmark-image"><a accesskey="z" href="//starwars.fandom.com"><img src="https://images.wikia.nocookie.net/__cb74/starwars/images/8/89/Wiki-wordmark.png" alt="Wookieepedia, the Star Wars Wiki" width="250" height="65"/></a></div>
  <div class="wds-community-header__top-container">
    <div class="wds-community-header__sitename" data-tracking="sitename"><a href="//starwars.fandom.com">Wookieepedia, the Star Wars Wiki</a></div>
    <div class="wds-community-header__counter" data-tracking="counter"><span class="wds-community-header__counter-value">157,003</span><span class="wds-community-header__counter-label">Pages</span></div>
    <div class="wds-community-header__wiki-buttons wds-button-group"><a class="wds-button wds-is-secondary createpage" href="/wiki/Special:CreatePage" data-tracking="add-new-page" title="Add new page">
        <svg class="wds-icon wds-icon-small" id="wds-icons-page-small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
          <path d="M10 12v2.586L12.586 12H10zm-6 4h4v-5a1 1 0 0 1 1-1h5V2H4v14zm5 2H3a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9.992c0 .043-.002.086-.007.128l-.001.003v.006a1.19 1.19 0 0 1-.023.119l-.001.002-.001.006-.001.002v.001a1 1 0 0 1-.254.444s-.002 0-.002.002h-.001l-.002.002-6 6-.003.004-.003.002-.001.001a1.003 1.003 0 0 1-.435.251h-.004a.885.885 0 0 1-.136.027h-.004c-.001.001.005.004-.004.001l-.003.001A1.088 1.088 0 0 1 9 18z"></path>
        </svg><span>Add new page</span></a></div>
  </div>
  <nav class="wds-community-header__local-navigation">
    <ul class="wds-tabs">
      <li class="wds-tabs__tab">
        <div class="wds-dropdown">
          <div class="wds-tabs__tab-label wds-dropdown__toggle"><a href="/wiki/The_Clone_Wars:_Season_Seven" data-tracking="custom-level-1"><span>The Clone Wars Season 7</span></a>
            <svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12">
              <defs>
                <path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
              </defs>
              <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
            </svg>
          </div>
          <div class="wds-is-not-scrollable wds-dropdown__content">
            <ul class="wds-list wds-is-linked wds-has-bolded-items">
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/The_Clone_Wars:_Season_Seven" data-tracking="custom-level-2"><span>Episodes</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/On_the_Wings_of_Keeradaks" data-tracking="custom-level-3">On the Wings of Keeradaks</a></li>
                    <li><a href="/wiki/Unfinished_Business" data-tracking="custom-level-3">Unfinished Business</a></li>
                    <li><a href="/wiki/Gone_with_a_Trace" data-tracking="custom-level-3">Gone with a Trace</a></li>
                    <li><a href="/wiki/Deal_No_Deal" data-tracking="custom-level-3">Deal No Deal</a></li>
                    <li><a href="/wiki/Dangerous_Debt" data-tracking="custom-level-3">Dangerous Debt</a></li>
                    <li><a href="/wiki/Together_Again" data-tracking="custom-level-3">Together Again</a></li>
                    <li><a href="/wiki/Old_Friends_Not_Forgotten" data-tracking="custom-level-3">Old Friends Not Forgotten</a></li>
                    <li><a href="/wiki/The_Phantom_Apprentice" data-tracking="custom-level-3">The Phantom Apprentice</a></li>
                    <li><a href="/wiki/Shattered" data-tracking="custom-level-3">Shattered</a></li>
                    <li><a href="/wiki/Victory_and_Death" data-tracking="custom-level-3">Victory and Death</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Characters" data-tracking="custom-level-2"><span>Characters</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Padm%C3%A9_Amidala" data-tracking="custom-level-3">Padmé Amidala</a></li>
                    <li><a href="/wiki/Rex" data-tracking="custom-level-3">Captain Rex</a></li>
                    <li><a href="/wiki/Obi-Wan_Kenobi" data-tracking="custom-level-3">Obi-Wan Kenobi</a></li>
                    <li><a href="/wiki/Bo-Katan_Kryze" data-tracking="custom-level-3">Bo-Katan Kryze</a></li>
                    <li><a href="/wiki/Martez_family" data-tracking="custom-level-3">Martez sisters</a></li>
                    <li><a href="/wiki/Anakin_Skywalker" data-tracking="custom-level-3">Anakin Skywalker</a></li>
                    <li><a href="/wiki/Ahsoka_Tano" data-tracking="custom-level-3">Ahsoka Tano</a></li>
                    <li><a href="/wiki/Trench" data-tracking="custom-level-3">Trench</a></li>
                    <li><a href="/wiki/Mace_Windu" data-tracking="custom-level-3">Mace Windu</a></li>
                    <li><a href="/wiki/Yoda" data-tracking="custom-level-3">Yoda</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Clone_Force_99" data-tracking="custom-level-2"><span>The Bad Batch</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Hunter" data-tracking="custom-level-3">Hunter</a></li>
                    <li><a href="/wiki/Crosshair" data-tracking="custom-level-3">Crosshair</a></li>
                    <li><a href="/wiki/Tech" data-tracking="custom-level-3">Tech</a></li>
                    <li><a href="/wiki/Wrecker" data-tracking="custom-level-3">Wrecker</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Mandalorian" data-tracking="custom-level-2"><span>Mandalorians</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Bo-Katan_Kryze" data-tracking="custom-level-3">Bo-Katan Kryze</a></li>
                    <li><a href="/wiki/Ursa_Wren" data-tracking="custom-level-3">Ursa Wren</a></li>
                    <li><a href="/wiki/Almec" data-tracking="custom-level-3">Prime Minister Almec</a></li>
                    <li><a href="/wiki/Gar_Saxon" data-tracking="custom-level-3">Gar Saxon</a></li>
                    <li><a href="/wiki/Rook_Kast" data-tracking="custom-level-3">Rook Kast</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Organizations" data-tracking="custom-level-2"><span>Organizations</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Confederacy_of_Independent_Systems" data-tracking="custom-level-3">Confederacy of Independent Systems</a></li>
                    <li><a href="/wiki/Galactic_Republic" data-tracking="custom-level-3">Galactic Republic</a></li>
                    <li><a href="/wiki/Grand_Army_of_the_Republic" data-tracking="custom-level-3">Grand Army of the Republic</a></li>
                    <li><a href="/wiki/Clone_commando" data-tracking="custom-level-3">Clone commandos</a></li>
                    <li><a href="/wiki/Jedi_Order" data-tracking="custom-level-3">Jedi Order</a></li>
                    <li><a href="/wiki/Nite_Owls" data-tracking="custom-level-3">Nite Owls</a></li>
                    <li><a href="/wiki/Mandalorian_super_commando" data-tracking="custom-level-3">Mandalorian super commandos</a></li>
                    <li><a href="/wiki/Shadow_Collective" data-tracking="custom-level-3">Shadow Collective</a></li>
                    <li><a href="/wiki/Pyke_Syndicate" data-tracking="custom-level-3">Pyke Syndicate</a></li>
                    <li><a href="/wiki/Crimson_Dawn" data-tracking="custom-level-3">Crimson Dawn</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="wds-tabs__tab">
        <div class="wds-dropdown">
          <div class="wds-tabs__tab-label wds-dropdown__toggle"><a href="/wiki/Star_Wars" data-tracking="custom-level-1"><span>Star Wars</span></a>
            <svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12">
              <defs>
                <path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
              </defs>
              <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
            </svg>
          </div>
          <div class="wds-is-not-scrollable wds-dropdown__content">
            <ul class="wds-list wds-is-linked wds-has-bolded-items">
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Skywalker_saga" data-tracking="custom-level-2"><span>Skywalker saga</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Star_Wars:_Episode_I_The_Phantom_Menace" data-tracking="custom-level-3">The Phantom Menace</a></li>
                    <li><a href="/wiki/Star_Wars:_Episode_II_Attack_of_the_Clones" data-tracking="custom-level-3">Attack of the Clones</a></li>
                    <li><a href="/wiki/Star_Wars:_Episode_III_Revenge_of_the_Sith" data-tracking="custom-level-3">Revenge of the Sith</a></li>
                    <li><a href="/wiki/Star_Wars:_Episode_IV_A_New_Hope" data-tracking="custom-level-3">A New Hope</a></li>
                    <li><a href="/wiki/Star_Wars:_Episode_V_The_Empire_Strikes_Back" data-tracking="custom-level-3">The Empire Strikes Back</a></li>
                    <li><a href="/wiki/Star_Wars:_Episode_VI_Return_of_the_Jedi" data-tracking="custom-level-3">Return of the Jedi</a></li>
                    <li><a href="/wiki/Star_Wars:_Episode_VII_The_Force_Awakens" data-tracking="custom-level-3">The Force Awakens</a></li>
                    <li><a href="/wiki/Star_Wars:_Episode_VIII_The_Last_Jedi" data-tracking="custom-level-3">The Last Jedi</a></li>
                    <li><a href="/wiki/Star_Wars:_Episode_IX_The_Rise_of_Skywalker" data-tracking="custom-level-3">The Rise of Skywalker</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Standalone_films_and_television" data-tracking="custom-level-2"><span>Standalone films and television</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Solo:_A_Star_Wars_Story" data-tracking="custom-level-3">Solo</a></li>
                    <li><a href="/wiki/Rogue_One:_A_Star_Wars_Story" data-tracking="custom-level-3">Rogue One</a></li>
                    <li><a href="/wiki/Star_Wars:_The_Clone_Wars_(TV_series)" data-tracking="custom-level-3">The Clone Wars</a></li>
                    <li><a href="/wiki/Star_Wars_Rebels" data-tracking="custom-level-3">Rebels</a></li>
                    <li><a href="/wiki/Star_Wars_Resistance" data-tracking="custom-level-3">Resistance</a></li>
                    <li><a href="/wiki/The_Mandalorian" data-tracking="custom-level-3">The Mandalorian</a></li>
                    <li><a href="/wiki/Untitled_Cassian_Andor_television_series" data-tracking="custom-level-3">Untitled Cassian Andor television series</a></li>
                    <li><a href="/wiki/Untitled_Obi-Wan_Kenobi_television_series" data-tracking="custom-level-3">Untitled Obi-Wan Kenobi television series</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Prequel_Trilogy_characters" data-tracking="custom-level-2"><span>Prequel Trilogy characters</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Anakin_Skywalker" data-tracking="custom-level-3">Anakin Skywalker</a></li>
                    <li><a href="/wiki/Obi-Wan_Kenobi" data-tracking="custom-level-3">Obi-Wan Kenobi</a></li>
                    <li><a href="/wiki/Padm%C3%A9_Amidala" data-tracking="custom-level-3">Padmé Amidala</a></li>
                    <li><a href="/wiki/Qui-Gon_Jinn" data-tracking="custom-level-3">Qui-Gon Jinn</a></li>
                    <li><a href="/wiki/Mace_Windu" data-tracking="custom-level-3">Mace Windu</a></li>
                    <li><a href="/wiki/Jar_Jar_Binks" data-tracking="custom-level-3">Jar Jar Binks</a></li>
                    <li><a href="/wiki/Darth_Sidious" data-tracking="custom-level-3">Palpatine</a></li>
                    <li><a href="/wiki/Maul" data-tracking="custom-level-3">Darth Maul</a></li>
                    <li><a href="/wiki/Dooku" data-tracking="custom-level-3">Dooku</a></li>
                    <li><a href="/wiki/Grievous" data-tracking="custom-level-3">Grievous</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Original_Trilogy_characters" data-tracking="custom-level-2"><span>Original Trilogy characters</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Luke_Skywalker" data-tracking="custom-level-3">Luke Skywalker</a></li>
                    <li><a href="/wiki/Leia_Organa" data-tracking="custom-level-3">Leia Organa</a></li>
                    <li><a href="/wiki/Han_Solo" data-tracking="custom-level-3">Han Solo</a></li>
                    <li><a href="/wiki/Lando_Calrissian" data-tracking="custom-level-3">Lando Calrissian</a></li>
                    <li><a href="/wiki/Chewbacca" data-tracking="custom-level-3">Chewbacca</a></li>
                    <li><a href="/wiki/C-3PO" data-tracking="custom-level-3">C-3PO</a></li>
                    <li><a href="/wiki/R2-D2" data-tracking="custom-level-3">R2-D2</a></li>
                    <li><a href="/wiki/Wilhuff_Tarkin" data-tracking="custom-level-3">Wilhuff Tarkin</a></li>
                    <li><a href="/wiki/Mon_Mothma" data-tracking="custom-level-3">Mon Mothma</a></li>
                    <li><a href="/wiki/Yoda" data-tracking="custom-level-3">Yoda</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Sequel_Trilogy_characters" data-tracking="custom-level-2"><span>Sequel Trilogy characters</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Rey" data-tracking="custom-level-3">Rey</a></li>
                    <li><a href="/wiki/Kylo_Ren" data-tracking="custom-level-3">Kylo Ren</a></li>
                    <li><a href="/wiki/Poe_Dameron" data-tracking="custom-level-3">Poe Dameron</a></li>
                    <li><a href="/wiki/Finn" data-tracking="custom-level-3">Finn</a></li>
                    <li><a href="/wiki/Armitage_Hux" data-tracking="custom-level-3">Armitage Hux</a></li>
                    <li><a href="/wiki/Phasma" data-tracking="custom-level-3">Phasma</a></li>
                    <li><a href="/wiki/Rose_Tico" data-tracking="custom-level-3">Rose Tico</a></li>
                    <li><a href="/wiki/BB-8" data-tracking="custom-level-3">BB-8</a></li>
                    <li><a href="/wiki/Snoke" data-tracking="custom-level-3">Snoke</a></li>
                    <li><a href="/wiki/Maz_Kanata" data-tracking="custom-level-3">Maz Kanata</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Other_characters" data-tracking="custom-level-2"><span>Other characters</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Jyn_Erso" data-tracking="custom-level-3">Jyn Erso</a></li>
                    <li><a href="/wiki/Cassian_Jeron_Andor" data-tracking="custom-level-3">Cassian Jeron Andor</a></li>
                    <li><a href="/wiki/Orson_Callan_Krennic" data-tracking="custom-level-3">Orson Callan Krennic</a></li>
                    <li><a href="/wiki/Tobias_Beckett" data-tracking="custom-level-3">Tobias Beckett</a></li>
                    <li><a href="/wiki/Qi%27ra" data-tracking="custom-level-3">Qi'ra</a></li>
                    <li><a href="/wiki/Dryden_Vos" data-tracking="custom-level-3">Dryden Vos</a></li>
                    <li><a href="/wiki/Din_Djarin" data-tracking="custom-level-3">The Mandalorian</a></li>
                    <li><a href="/wiki/The_Child" data-tracking="custom-level-3">The Child</a></li>
                    <li><a href="/wiki/Gideon" data-tracking="custom-level-3">Gideon</a></li>
                    <li><a href="/wiki/Cal_Kestis" data-tracking="custom-level-3">Cal Kestis</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Animated_characters" data-tracking="custom-level-2"><span>Animated characters</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Ahsoka_Tano" data-tracking="custom-level-3">Ahsoka Tano</a></li>
                    <li><a href="/wiki/Rex" data-tracking="custom-level-3">Rex</a></li>
                    <li><a href="/wiki/Kanan_Jarrus" data-tracking="custom-level-3">Kanan Jarrus</a></li>
                    <li><a href="/wiki/Ezra_Bridger" data-tracking="custom-level-3">Ezra Bridger</a></li>
                    <li><a href="/wiki/Mitth%27raw%27nuruodo" data-tracking="custom-level-3">Thrawn</a></li>
                    <li><a href="/wiki/Hera_Syndulla" data-tracking="custom-level-3">Hera Syndulla</a></li>
                    <li><a href="/wiki/Kazuda_Xiono" data-tracking="custom-level-3">Kazuda Xiono</a></li>
                    <li><a href="/wiki/Tamara_Ryvora" data-tracking="custom-level-3">Tamara Ryvora</a></li>
                    <li><a href="/wiki/Jarek_Yeager" data-tracking="custom-level-3">Jarek Yeager</a></li>
                    <li><a href="/wiki/Neeku_Vozo" data-tracking="custom-level-3">Neeku Vozo</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="wds-tabs__tab">
        <div class="wds-dropdown">
          <div class="wds-tabs__tab-label wds-dropdown__toggle"><a href="/wiki/Main_page" data-tracking="custom-level-1"><span>Navigation</span></a>
            <svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12">
              <defs>
                <path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
              </defs>
              <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
            </svg>
          </div>
          <div class="wds-is-not-scrollable wds-dropdown__content">
            <ul class="wds-list wds-is-linked wds-has-bolded-items">
              <li><a href="/wiki/Special:RecentChanges" data-tracking="custom-level-2">Recent changes</a></li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Category:Star_Wars" data-tracking="custom-level-2"><span>Articles</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Special:AllPages" data-tracking="custom-level-3">Content A-Z</a></li>
                    <li><a href="/wiki/Special:Random" data-tracking="custom-level-3">Random page</a></li>
                    <li><a href="/wiki/Category:Browse" data-tracking="custom-level-3">Browse articles by category</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Category:Wookieepedia_status_articles" data-tracking="custom-level-2"><span>Status Articles</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Wookieepedia:Featured_articles" data-tracking="custom-level-3">Featured articles</a></li>
                    <li><a href="/wiki/Wookieepedia:Featured_article_nominations" data-tracking="custom-level-3">Featured article nominations</a></li>
                    <li><a href="/wiki/Wookieepedia:Good_articles" data-tracking="custom-level-3">Good articles</a></li>
                    <li><a href="/wiki/Wookieepedia:Good_article_nominations" data-tracking="custom-level-3">Good article nominations</a></li>
                    <li><a href="/wiki/Wookieepedia:Comprehensive_articles" data-tracking="custom-level-3">Comprehensive articles</a></li>
                    <li><a href="/wiki/Wookieepedia:Comprehensive_article_nominations" data-tracking="custom-level-3">Comprehensive article nominations</a></li>
                    <li><a href="/wiki/Wookieepedia:Featured_article_tutorials" data-tracking="custom-level-3">How to nominate an article</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Help:Contents" data-tracking="custom-level-2"><span>Help</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Wookieepedia:Tutorial" data-tracking="custom-level-3">Getting started on Wookieepedia</a></li>
                    <li><a href="/wiki/Wookieepedia:Guide_to_image_use" data-tracking="custom-level-3">Uploading and using images</a></li>
                    <li><a href="/wiki/Wookieepedia:Jundland_Wastes" data-tracking="custom-level-3">Make test edits</a></li>
                    <li><a href="/wiki/Wookieepedia:Vandalism_in_progress" data-tracking="custom-level-3">Report vandalism</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-is-sticked-to-parent wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Wookieepedia:FAQ" data-tracking="custom-level-2"><span>Frequently asked questions</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Wookieepedia:Things_to_do" data-tracking="custom-level-3">Ways to help Wookieepedia</a></li>
                    <li><a href="/wiki/Wookieepedia:Canon_policy" data-tracking="custom-level-3">How Wookieepedia treats Canon and Legends</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="wds-tabs__tab">
        <div class="wds-dropdown">
          <div class="wds-tabs__tab-label wds-dropdown__toggle"><a href="/wiki/Wookieepedia:Welcome,_newcomers" data-tracking="custom-level-1"><span>Community</span></a>
            <svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12">
              <defs>
                <path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
              </defs>
              <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
            </svg>
          </div>
          <div class="wds-is-not-scrollable wds-dropdown__content">
            <ul class="wds-list wds-is-linked wds-has-bolded-items">
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Wookieepedia:About" data-tracking="custom-level-2"><span>About Wookieepedia</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Special:UserSignup" data-tracking="custom-level-3">Join Wookieepedia</a></li>
                    <li><a href="/wiki/Wookieepedia:What_Wookieepedia_is_not" data-tracking="custom-level-3">What Wookieepedia is not</a></li>
                    <li><a href="/wiki/Wookieepedia:Interviews" data-tracking="custom-level-3">Star Wars VIP interviews</a></li>
                    <li><a href="/wiki/List_of_Star_Wars_Wikis_in_other_languages" data-tracking="custom-level-3">Wookieepedia in other languages</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Wookieepedia:Policies" data-tracking="custom-level-2"><span>Site policies</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Wookieepedia:Attribution" data-tracking="custom-level-3">Attribution</a></li>
                    <li><a href="/wiki/Wookieepedia:Copyrights" data-tracking="custom-level-3">Copyrights</a></li>
                    <li><a href="/wiki/Wookieepedia:Images" data-tracking="custom-level-3">Images</a></li>
                    <li><a href="/wiki/Wookieepedia:Layout_Guide" data-tracking="custom-level-3">Layout Guide</a></li>
                    <li><a href="/wiki/Wookieepedia:Manual_of_Style" data-tracking="custom-level-3">Manual of Style</a></li>
                    <li><a href="/wiki/Wookieepedia:Naming_policy" data-tracking="custom-level-3">Naming Policy</a></li>
                    <li><a href="/wiki/Wookieepedia:Policy_and_consensus_updates" data-tracking="custom-level-3">Policy and consensus updates</a></li>
                    <li><a href="/wiki/Wookieepedia:Spoilers" data-tracking="custom-level-3">Spoilers</a></li>
                    <li><a href="/wiki/Wookieepedia:Sourcing" data-tracking="custom-level-3">Sourcing</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Category:Forum" data-tracking="custom-level-2"><span>Forums</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Forum:Senate_Hall" data-tracking="custom-level-3">Senate Hall</a></li>
                    <li><a href="/wiki/Forum:Knowledge_Bank" data-tracking="custom-level-3">Knowledge Bank</a></li>
                    <li><a href="/wiki/Forum:Consensus_track" data-tracking="custom-level-3">Consensus track</a></li>
                    <li><a href="/wiki/Forum:Administrators%27_noticeboard" data-tracking="custom-level-3">Administrators' noticeboard</a></li>
                    <li><a href="/wiki/Wookieepedia:Wookieepedian_of_the_Month" data-tracking="custom-level-3">Wookieepedian of the Month</a></li>
                    <li><a href="/wiki/Wookieepedia_Contests:Main" data-tracking="custom-level-3">Contests and giveaways</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Wookieepedia:WookieeProject" data-tracking="custom-level-2"><span>WookieeProjects</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Wookieepedia:WookieeProject_Astrography" data-tracking="custom-level-3">Astrography</a></li>
                    <li><a href="/wiki/Wookieepedia:WookieeProject_Battlefront" data-tracking="custom-level-3">Battlefront</a></li>
                    <li><a href="/wiki/Wookieepedia:WookieeProject_Galaxy%27s_Edge" data-tracking="custom-level-3">Galaxy's Edge</a></li>
                    <li><a href="/wiki/Wookieepedia:WookieeProject_Resistance" data-tracking="custom-level-3">Resistance</a></li>
                    <li><a href="/wiki/Wookieepedia:WookieeProject_The_Clone_Wars" data-tracking="custom-level-3">The Clone Wars</a></li>
                  </ul>
                </div>
              </li>
              <li class="wds-is-sticked-to-parent wds-dropdown-level-2"><a class="wds-dropdown-level-2__toggle" href="/wiki/Wookieepedia:Contact" data-tracking="custom-level-2"><span>Contact</span>
                  <svg class="wds-icon wds-icon-tiny wds-dropdown-chevron" id="wds-icons-menu-control-tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
                    <path d="M11.707 3.293a.999.999 0 0 0-1.414 0L6 7.586 1.707 3.293A.999.999 0 1 0 .293 4.707l5 5a.997.997 0 0 0 1.414 0l5-5a.999.999 0 0 0 0-1.414" fill-rule="evenodd"></path>
                  </svg></a>
                <div class="wds-is-not-scrollable wds-dropdown-level-2__content">
                  <ul class="wds-list wds-is-linked">
                    <li><a href="/wiki/Wookieepedia:Administrators" data-tracking="custom-level-3">Administration</a></li>
                    <li><a href="/wiki/Wookieepedia:IRC" data-tracking="custom-level-3">Chat</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="wds-tabs__tab">
        <div class="wds-dropdown">
          <div class="wds-tabs__tab-label wds-dropdown__toggle">
            <svg class="wds-icon-tiny wds-icon" id="wds-icons-book-tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12">
              <defs>
                <path id="book-tiny" d="M3.5 3C2.673 3 2 3.673 2 4.5v2.338c.91-.434 2.09-.434 3 0V4.5c0-.397-.159-.785-.437-1.063A1.513 1.513 0 0 0 3.5 3m5 3.5c.537 0 1.045.121 1.5.338V4.5c0-.397-.159-.785-.437-1.063A1.502 1.502 0 0 0 7 4.5v2.338A3.473 3.473 0 0 1 8.5 6.5M11 11a1 1 0 0 1-1-1c0-.827-.673-1.5-1.5-1.5S7 9.173 7 10a1 1 0 1 1-2 0c0-.827-.673-1.5-1.5-1.5S2 9.173 2 10a1 1 0 1 1-2 0V4.5a3.504 3.504 0 0 1 5.977-2.477l.026.027A3.489 3.489 0 0 1 8.5 1c.937 0 1.817.363 2.477 1.023A3.524 3.524 0 0 1 12 4.5V10a1 1 0 0 1-1 1"></path>
              </defs>
              <use fill-rule="evenodd" xlink:href="#book-tiny"></use>
            </svg><span>Explore</span>
            <svg class="wds-icon wds-icon-tiny wds-dropdown__toggle-chevron" id="wds-icons-dropdown-tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12">
              <defs>
                <path id="dropdown-tiny-a" d="M6.0001895,8.80004571 C5.79538755,8.80004571 5.5905856,8.72164496 5.43458411,8.56564348 L2.23455364,5.365613 C2.00575146,5.13681083 1.93695081,4.79280755 2.06095199,4.4936047 C2.18415316,4.19440185 2.47695595,4 2.80015903,4 L9.20021997,4 C9.52342305,4 9.81542583,4.19440185 9.93942701,4.4936047 C10.0634282,4.79280755 9.99462754,5.13681083 9.76582536,5.365613 L6.56579489,8.56564348 C6.4097934,8.72164496 6.20499145,8.80004571 6.0001895,8.80004571 Z"></path>
              </defs>
              <use fill-rule="evenodd" xlink:href="#dropdown-tiny-a"></use>
            </svg>
          </div>
          <div class="wds-is-not-scrollable wds-dropdown__content">
            <ul class="wds-list wds-is-linked wds-has-bolded-items">
              <li><a href="//starwars.fandom.com/wiki/Special:WikiActivity" data-tracking="explore-activity">Wiki Activity</a></li>
              <li><a href="//starwars.fandom.com/wiki/Special:Random" data-tracking="explore-random">Random page</a></li>
              <li><a href="//starwars.fandom.com/wiki/Special:Community" data-tracking="explore-community">Community</a></li>
              <li><a href="//starwars.fandom.com/wiki/Special:Videos" data-tracking="explore-videos">Videos</a></li>
              <li><a href="//starwars.fandom.com/wiki/Special:Images" data-tracking="explore-images">Images</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="wds-tabs__tab">
        <div class="wds-tabs__tab-label"><a href="/f" data-tracking="discuss">
            <svg class="wds-icon-tiny wds-icon" id="wds-icons-comment-tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12">
              <defs>
                <path id="comment-tiny" d="M4.5 2c-.668 0-1.293.26-1.757.731A2.459 2.459 0 0 0 2 4.5c0 1.235.92 2.297 2.141 2.47A1 1 0 0 1 5 7.96v.626l1.293-1.293A.997.997 0 0 1 7 7h.5c.668 0 1.293-.26 1.757-.731.483-.476.743-1.1.743-1.769C10 3.122 8.878 2 7.5 2h-3zM4 12a1 1 0 0 1-1-1V8.739A4.52 4.52 0 0 1 0 4.5c0-1.208.472-2.339 1.329-3.183A4.424 4.424 0 0 1 4.5 0h3C9.981 0 12 2.019 12 4.5a4.432 4.432 0 0 1-1.329 3.183A4.424 4.424 0 0 1 7.5 9h-.086l-2.707 2.707A1 1 0 0 1 4 12z"></path>
              </defs>
              <use fill-rule="evenodd" xlink:href="#comment-tiny"></use>
            </svg><span>Discuss</span></a></div>
      </li>
    </ul>
  </nav>
</header>