
<aside class="portable-infobox pi-background pi-theme-character pi-theme-Criminal pi-layout-default">
  <figure class="pi-item pi-image" data-source="image"><a class="image image-thumbnail" href="https://vignette.wikia.nocookie.net/starwars/images/b/b0/Qira_SASWS.jpg/revision/latest?cb=20180505222233" title=""><img class="pi-image-thumbnail" src="https://thefpl.us/content/4-also-made/20171009-tattoos/s1_butt.jpg" alt="" data-image-key="Qira_SASWS.jpg" data-image-name="Qira SASWS.jpg" width="270" height="367"/></a></figure>
  <h2 class="pi-item pi-item-spacing pi-title" data-source="name">Achilles' Heelies</h2>
  <section class="pi-item pi-group pi-border-color">
    <h2 class="pi-item pi-header pi-secondary-font pi-item-spacing pi-secondary-background">Biographical information</h2>
    <div class="pi-item pi-data pi-item-spacing pi-border-color" data-source="homeworld">
      <h3 class="pi-data-label pi-secondary-font">Homeworld</h3>
      <div class="pi-data-value pi-font"><a href="https://starwars.fandom.com/wiki/Earth_(droid)">Earth</a></div>
    </div>
    <div class="pi-item pi-data pi-item-spacing pi-border-color" data-source="birth">
      <h3 class="pi-data-label pi-secondary-font">Born</h3>
      <div class="pi-data-value pi-font"><a href="https://starwars.fandom.com/wiki/12_BBY" title="12 BBY">12 BBY</a></div>
    </div>
  </section>
  <section class="pi-item pi-group pi-border-color">
    <h2 class="pi-item pi-header pi-secondary-font pi-item-spacing pi-secondary-background">Physical description</h2>
    <div class="pi-item pi-data pi-item-spacing pi-border-color" data-source="species">
      <h3 class="pi-data-label pi-secondary-font">Species</h3>
      <div class="pi-data-value pi-font"><a href="https://starwars.fandom.com/wiki/Human" title="Human">Human</a> <small>(Ridiculist)</small><sup class="reference" id="cite_ref-Solo_0-1"><a href="#cite_note-Solo-0">[1]</a></sup></div>
    </div>
    <div class="pi-item pi-data pi-item-spacing pi-border-color" data-source="gender">
      <h3 class="pi-data-label pi-secondary-font">Gender</h3>
      <div class="pi-data-value pi-font"><a href="/wiki/Sexes" title="Sexes">Male</a></div>
    </div>
    <div class="pi-item pi-data pi-item-spacing pi-border-color" data-source="height">
      <h3 class="pi-data-label pi-secondary-font">Height</h3>
      <div class="pi-data-value pi-font">1.58 <a href="/wiki/Meter" title="Meter">meters</a></div>
    </div>
    <div class="pi-item pi-data pi-item-spacing pi-border-color" data-source="hair">
      <h3 class="pi-data-label pi-secondary-font">Hair color</h3>
      <div class="pi-data-value pi-font"><a href="/wiki/Color" title="Color">Brown</a><sup class="reference" id="cite_ref-Solo_0-2"><a href="#cite_note-Solo-0">[1]</a></sup></div>
    </div>
    <div class="pi-item pi-data pi-item-spacing pi-border-color" data-source="eyes">
      <h3 class="pi-data-label pi-secondary-font">Eye color</h3>
      <div class="pi-data-value pi-font">Blue-Green</div>
    </div>
    <div class="pi-item pi-data pi-item-spacing pi-border-color" data-source="skin">
      <h3 class="pi-data-label pi-secondary-font">Skin color</h3>
      <div class="pi-data-value pi-font">Nerd Pale</div>
    </div>
  </section>
  <section class="pi-item pi-group pi-border-color">
    <h2 class="pi-item pi-header pi-secondary-font pi-item-spacing pi-secondary-background">Chronological and political information</h2>
    <div class="pi-item pi-data pi-item-spacing pi-border-color" data-source="affiliation">
      <h3 class="pi-data-label pi-secondary-font">Affiliation(s)</h3>
      <div class="pi-data-value pi-font">
        <ul>
          <li><a href="/wiki/White_Worms" title="White Worms">The F Plus</a></li>
          <li><a href="/wiki/Crimson_Dawn" title="Crimson Dawn">Extra Credit</a></li>
        </ul>
      </div>
    </div>
  </section>
  <nav class="pi-navigation pi-item-spacing pi-secondary-background pi-secondary-font"><small><a href="/wiki/Template:Character" title="Template:Character">[Source]</a></small></nav>
</aside>