doctype html
html(dir='ltr', lang='en')
  include partials/_head.pug
  body.mediawiki.ltr.ns-0.ns-subject.page-Kyber_crystal.oasis-breakpoints.skin-oasis.user-anon.background-fixed.background-not-tiled.background-dynamic.wiki-starwars
    .background-image-gradient
    .WikiaSiteWrapper
      h2 FANDOM
      #ad-skin.wikia-ad.noprint

      include partials/_global-nav.pug

      include partials/_header.pug
      
      // empty onclick event needs to be applied here to ensure that wds dropdowns work correctly on ios
      section#WikiaPage.WikiaPage.V2(onclick='')
        #WikiaPageBackground.WikiaPageBackground
        .WikiaPageContentWrapper
          header#PageHeader.page-header
            .page-header__main
              .page-header__categories
                span.page-header__categories-in(data-tracking='categories-top-in') in:
                .page-header__categories-links
                  a(href='https://starwars.fandom.com/wiki/Category:Canon_articles', data-tracking='categories-top-0') Canon articles
                  | , 
                  a(href='https://starwars.fandom.com/wiki/Category:Articles_in_need_of_updating', data-tracking='categories-top-1') Articles in need of updating
                  | , 
                  a(href='https://starwars.fandom.com/wiki/Category:Articles_with_an_excess_of_redlinks', data-tracking='categories-top-2') Articles with an excess of redlinks
                  | , 							
                  .wds-dropdown.page-header__categories-dropdown
                    a.wds-dropdown__toggle(data-tracking='categories-more') and 2 more
                    .wds-dropdown__content.page-header__categories-dropdown-content.wds-is-left-aligned
                      ul.wds-list.wds-is-linked
                        li
                          a(href='https://starwars.fandom.com/wiki/Category:Pages_needing_citation', data-tracking='categories-top-more-0') Pages needing citation
                        li
                          a(href='https://starwars.fandom.com/wiki/Category:Lightsaber_crystals', data-tracking='categories-top-more-1') Lightsaber crystals
              h1.page-header__title Achilles' Heelies
            .page-header__contribution
              div
                // Empty div to ensure $actionButton is always pushed to bottom of the container
              .page-header__contribution-buttons
                a#ShareEntryPoint.wds-button.wds-is-secondary(href='#')
                  svg#wds-icons-share-small.wds-icon.wds-icon-small(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 18 18')
                    defs
                      path#share-small(d='M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10')
                    use(fill-rule='evenodd', xlink:href='#share-small')
                  span Share
          hr.page-header__separator
          article#WikiaMainContent.WikiaMainContent
            #WikiaMainContentContainer.WikiaMainContentContainer
              #WikiaArticle.WikiaArticle
                .home-top-right-ads
                #mw-content-text.mw-content-ltr.mw-content-text(dir='ltr', lang='en')
                  // Google Tag Manager (noscript)
                  noscript
                    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MDPTN53', style='display:none;visibility:hidden', width='0', height='0')
                  // End Google Tag Manager (noscript)
                  #title-eraicons(style='float:right;position:static;display:none;')
                    a.image.image-thumbnail.link-internal(href='https://starwars.fandom.com/wiki/Canon', title='This article details a subject that is considered canon.')
                      img.lzy.lzyPlcHld(src='data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D', alt='Premium-Eras-canon', data-image-key='Premium-Eras-canon.png', data-image-name='Premium-Eras-canon.png', data-src='https://vignette.wikia.nocookie.net/starwars/images/b/be/Premium-Eras-canon.png/revision/latest?cb=20170617140440', onload="if(typeof ImgLzy==='object'){ImgLzy.load(this)}", width='112', height='20')
                      noscript
                        img(src='https://vignette.wikia.nocookie.net/starwars/images/b/be/Premium-Eras-canon.png/revision/latest?cb=20170617140440', alt='Premium-Eras-canon', data-image-key='Premium-Eras-canon.png', data-image-name='Premium-Eras-canon.png', width='112', height='20')
                  .disambig.noprint(style="background:#ddd; border-radius:10px; margin-top:0px; margin-bottom:20px; padding:20px;")
                    p This article is about The F Plus Ridiculist.  You may be looking for Footwear of Greek Mythology, cool shoes to buy when your wife divorces you, or probably just pictures of Star Wars actresses barefoot. Head on over to 
                      a(href="https://www.wikifeet.com/") WikiFeet
                      | , you gross nerd!

                  div(style='background: #7BB0D8; color: #000; border-radius:10px; margin-bottom:20px; padding:20px;')
                    img(src="img/ackbar.jpg" style="float:left; margin-right:20px;")
                    h1(style="font-size:150%; font-weight:bold;") It's a trap!
                    p That's a thing that they say in a Star Wars movie and I typed it! Now you're reading a line from a Star Wars movie on your computer. Isn't that nice? Hey, do you remember Star Wars? Star Wars you guys!

                  
                  include partials/_infobox.pug

                  .quote
                    dl
                      dd
                        span
                          | "
                          i Female ejaculation is actually just pee.
                          | "
                      dd
                        | ―
                        a(href='https://starwars.fandom.com/wiki/Chirrut_%C3%8Emwe', title='Chirrut Îmwe') Chirrut Îmwe
                        span.noprint
                          sup
                            a(href='https://starwars.fandom.com/wiki/Rogue_One:_A_Star_Wars_Story', title='Rogue One: A Star Wars Story') [src]
                  p
                    b Achilles' Heelies
                    | , a Force-sensitive human male, was an F Plus Ridiculist who celebrated his 30th Birthday amid the COVID lockdown on June 7th, 2020. Along with his companions Spaceboots Stargears, A'dumb Bozeart, and Fat Hank The Pissboy, Heelies liberated the Prisoners of Sandprison from the Evil Emperor Baaa'by, by playing the traditional space game known as Peek-A-Boo, and then freeing all the prisoners while The Emperor had his hands over his eyes. He also had a job at some place.
                  //-nav#toc.toc(data-loaded='false')
                    #toctitle
                      h2 Contents
                      span.toctoggle
                        | [
                        a#togglelink.internal(href='#', data-show='show', data-hide='hide') show
                        | ]
                    ol
                  h2 Socks
                  .quote
                    dl
                      dd
                        span(title='Source: Star Wars: Rogue One: Rebel Dossier')
                          | "
                          i
                            | What is the measure of a man? Is it it his strength of character? How he handles his blade? The tender but firm way that he kisses a woman? No! If you want to  
                            strong truly
                            |  know a man, you must look at his socks
                          | "
                      dd
                        | ―
                        a(href='https://starwars.fandom.com/wiki/Jan_Dodonna', title='Jan Dodonna') Darth Cunning
                  p
                    | Achilles' Heelies was known to wear a fun pair of dress socks with a geometric pattern
                    sup#cite_ref-Catalyst_1-4.reference
                      a(href='#cite_note-Catalyst-1') [2]
                    | . These socks were believed by some to imbue him with like, The Force, or whatever. Once, Queen Lasertits tried to trick Heelies into removing his socks, by uttering the famous phrase "Ba ba black sheep, have you any wool, I sure think your socks are cool." It's very important that you know Queen Lasertits was from a planet that pronounced the word "wool" with a long "ooo" sound, therefore it rhymed with the word "cool".

                  h2 Screwdriver
                  p A screwdriver was a device used for repairing or dismantling manufactured devices. They were typically made of space-metal, such as Stieelle or Aluminimiminiminiminimum, and are composed of a single cylander of space metal with a shape on one end, and then a handle (or "Hand Grib Device Quadrant", in Loovieum) where the user can grip the screwdriver. Screwdrivers do not have special powers and can't sedate animals or stop bullets. That's not a Star Wars thing, that's fucking 
                    i Dr. Who
                    | , Phillip! God, you're embarassing yourself.
                  p Achilles Heelies owned a screwdriver that is black. He used to have another black screwdriver that he found on an off ramp, and he picked it up and carried for like five years, but eventually he lost it.
                  p He also owned a three pound weight that he probably found on a different off-ramp. The purpose of the weight is unknown; Who the fuck needs a three pound weight?

                  h2 Toast
                  figure.article-thumb.tleft.show-info-icon(style='width: 200px')
                    img(src="img/toast-2.jpg" style="width:200px;")
                    figcaption
                      p.caption A slice of bread that has been toasted, but not a lot.
                  
                  p Throughout the latter part of 
                    strong The War Where The Robots Were Mad At The Humans For Being Mean To Them 
                    | and into the majority of 
                    strong The War Where Everything Seemed Like It Was Fine But Then The Robots Got Mad Again About How The Humans Treated Them
                    | , toast was enjoyed by high ranking government officials as well as lowly staff like the guy that came over to fix My Mom's doorbell last week. I think his name was Carlos. He was weird. Mom wanted me to fix the doorbell but I told her I don't know anything about how doorbells work.

                  p Toast was made by applying direct heat to bread. This was done in several ways, but the most common method for converting toast into bread was to use a specialized machine known colloquially as a "toaster" which had heated coils inside that would heat each slice of bread on both sides. Or you could use The Force.
                  p Achilles Heelies preferred his toast to be only slightly toasted, which is basically just warm bread.

                  h2 A list for later
                  ul
                    li
                      a(href='https://starwars.fandom.com/wiki/Adegan_crystal', title='Adegan crystal') Adegan crystal
                      sup#cite_ref-Gadgets_and_Gear_0-6.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                      ul
                        li
                          a(href='https://starwars.fandom.com/wiki/Mephite_crystal', title='Mephite crystal') Mephite crystal
                          sup#cite_ref-Gadgets_and_Gear_0-7.reference
                            a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a.new(title='Barab ingot/Canon (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvQmFyYWJfaW5nb3QvQ2Fub24/YWN0aW9uPWVkaXQmcmVkbGluaz0x') Barab ingot
                      sup#cite_ref-Gadgets_and_Gear_0-8.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a.new(title='Christophsis crystal (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvQ2hyaXN0b3Boc2lzX2NyeXN0YWw/YWN0aW9uPWVkaXQmcmVkbGluaz0x') Christophsis crystal
                      sup#cite_ref-Collapse_of_the_Republic_25-0.reference
                        a(href='#cite_note-Collapse_of_the_Republic-25') [26]
                    li
                      a.new(title='Corrupted crystal (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvQ29ycnVwdGVkX2NyeXN0YWw/YWN0aW9uPWVkaXQmcmVkbGluaz0x') Corrupted crystal
                      sup#cite_ref-Gadgets_and_Gear_0-9.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a.new(title='Cracked Jedha crystal (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvQ3JhY2tlZF9KZWRoYV9jcnlzdGFsP2FjdGlvbj1lZGl0JnJlZGxpbms9MQ==') Cracked Jedha crystal
                      sup#cite_ref-Knights_of_Fate_26-0.reference
                        a(href='#cite_note-Knights_of_Fate-26') [27]
                    li
                      a(href='https://starwars.fandom.com/wiki/Dantari_crystal', title='Dantari crystal') Dantari crystal
                      sup#cite_ref-Gadgets_and_Gear_0-10.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a(href='https://starwars.fandom.com/wiki/Dragite_gem', title='Dragite gem') Dragite gem
                      sup#cite_ref-Gadgets_and_Gear_0-11.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a(href='https://starwars.fandom.com/wiki/Ghostfire_crystal', title='Ghostfire crystal') Ghostfire crystal
                      sup#cite_ref-Gadgets_and_Gear_0-12.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a(href='https://starwars.fandom.com/wiki/Ilum_crystal', title='Ilum crystal') Ilum crystal
                      sup#cite_ref-Gadgets_and_Gear_0-13.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                      ul
                        li
                          | Mephite crystal
                          sup#cite_ref-Nexus_of_Power_27-0.reference
                            a(href='#cite_note-Nexus_of_Power-27') [28]
                        li
                          a(href='https://starwars.fandom.com/wiki/Pontite_crystal', title='Pontite crystal') Pontite crystal
                          sup#cite_ref-Nexus_of_Power_27-1.reference
                            a(href='#cite_note-Nexus_of_Power-27') [28]
                    li
                      a.new(title='Kimber stone (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvS2ltYmVyX3N0b25lP2FjdGlvbj1lZGl0JnJlZGxpbms9MQ==') Kimber stone
                      sup#cite_ref-Gadgets_and_Gear_0-14.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a(href='https://starwars.fandom.com/wiki/Krayt_dragon_pearl', title='Krayt dragon pearl') Krayt dragon pearl
                      sup#cite_ref-Gadgets_and_Gear_0-15.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a.new(title='Lorrdian gemstone/Canon (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvTG9ycmRpYW5fZ2Vtc3RvbmUvQ2Fub24/YWN0aW9uPWVkaXQmcmVkbGluaz0x') Lorrdian gemstone
                      sup#cite_ref-Gadgets_and_Gear_0-16.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a.new(title='Nishalorite stone (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvTmlzaGFsb3JpdGVfc3RvbmU/YWN0aW9uPWVkaXQmcmVkbGluaz0x') Nishalorite stone
                      sup#cite_ref-Gadgets_and_Gear_0-17.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a(href='https://starwars.fandom.com/wiki/Obsidian', title='Obsidian') Obsidian
                      sup.reference(id='cite_ref-Galaxy.27s_Edge_28-0')
                        a(href='#cite_note-Galaxy.27s_Edge-28') [29]
                    li
                      a.new(title='Seeker crystal (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvU2Vla2VyX2NyeXN0YWw/YWN0aW9uPWVkaXQmcmVkbGluaz0x') Seeker crystal
                      sup#cite_ref-Gadgets_and_Gear_0-18.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a.new(title='Solari crystal/Canon (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvU29sYXJpX2NyeXN0YWwvQ2Fub24/YWN0aW9uPWVkaXQmcmVkbGluaz0x') Solari crystal
                      sup#cite_ref-Gadgets_and_Gear_0-19.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a.new(title='Sorian crystal (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvU29yaWFuX2NyeXN0YWw/YWN0aW9uPWVkaXQmcmVkbGluaz0x') Sorian crystal
                      sup#cite_ref-Gadgets_and_Gear_0-20.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a(href='https://starwars.fandom.com/wiki/Synthetic_kyber_crystal', title='Synthetic kyber crystal') Synthetic kyber crystal
                      sup#cite_ref-Catalyst_1-12.reference
                        a(href='#cite_note-Catalyst-1') [2]
                    li
                      a(href='https://starwars.fandom.com/wiki/Tainted_Nightsister_Crystal', title='Tainted Nightsister Crystal') Tainted Nightsister Crystal
                      sup#cite_ref-Unlimited_Power_29-0.reference
                        a(href='#cite_note-Unlimited_Power-29') [30]
                    li
                      a.new(title='Thontiin crystal (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvVGhvbnRpaW5fY3J5c3RhbD9hY3Rpb249ZWRpdCZyZWRsaW5rPTE=') Thontiin crystal
                      sup#cite_ref-Rise_of_the_Separatists_6-1.reference
                        a(href='#cite_note-Rise_of_the_Separatists-6') [7]
                    li
                      a.new(title='Varpeline crystal (page does not exist)', rel='nofollow', data-uncrawlable-url='L3dpa2kvVmFycGVsaW5lX2NyeXN0YWw/YWN0aW9uPWVkaXQmcmVkbGluaz0x') Varpeline crystal
                      sup#cite_ref-Gadgets_and_Gear_0-21.reference
                        a(href='#cite_note-Gadgets_and_Gear-0') [1]
                    li
                      a(href='https://starwars.fandom.com/wiki/Zophis_crystal', title='Zophis crystal') Zophis crystal
                      sup#cite_ref-Rise_of_the_Separatists_6-2.reference
                        a(href='#cite_note-Rise_of_the_Separatists-6') [7]
                  h2
                    span#Known_crystal_colors.mw-headline Known crystal colors
                    span.editsection
                      a(href='https://starwars.fandom.com/wiki/Kyber_crystal?action=edit&section=4', title='Edit Known crystal colors section')
                        img.sprite.edit-pencil(src='data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D')
                        | Edit
              nav#articleCategories.article-categories
                #catlinks.catlinks
                  #mw-normal-catlinks.mw-normal-catlinks
                    a(href='https://starwars.fandom.com/wiki/Special:Categories', title='Special:Categories', rel='nofollow') Categories
                    | : 
                    ul
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Canon_articles', title='Category:Canon articles') Canon articles
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Articles_in_need_of_updating', title='Category:Articles in need of updating') Articles in need of updating
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Articles_with_an_excess_of_redlinks', title='Category:Articles with an excess of redlinks') Articles with an excess of redlinks
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Pages_needing_citation', title='Category:Pages needing citation') Pages needing citation
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Lightsaber_crystals', title='Category:Lightsaber crystals') Lightsaber crystals
                  #mw-hidden-catlinks.mw-hidden-catlinks.mw-hidden-cats-hidden
                    | Hidden category: 
                    ul
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Canon_articles_with_Legends_counterparts', title='Category:Canon articles with Legends counterparts') Canon articles with Legends counterparts
              .license-description
                | Community content is available under 
                a(href='https://www.fandom.com/licensing') CC-BY-SA
                |  unless otherwise noted.


          include partials/_sidebar.pug



          footer#WikiaFooter.WikiaFooter.notoolbar
            #bottomLeaderboardWrapper
              // BEGIN SLOTNAME: bottom_leaderboard
              #bottom_leaderboard.wikia-ad.noprint.default-height
              // END SLOTNAME: bottom_leaderboard
            #mixed-content-footer.mcf-en(data-number-of-wiki-articles='8', data-number-of-ns-articles='9')
              .mcf-contentt
                h1.mcf-header Fan Feed
                .grid(columns="3")
                  figure
                    img(src="https://via.placeholder.com/400x400")
                  figure
                    img(src="https://via.placeholder.com/400x400")
                  figure
                    img(src="https://via.placeholder.com/400x400")
                  figure
                    img(src="https://via.placeholder.com/400x400")
                  figure
                    img(src="https://via.placeholder.com/400x400")
                  figure
                    img(src="https://via.placeholder.com/400x400")
                  figure
                    img(src="https://via.placeholder.com/400x400")
                  figure
                    img(src="https://via.placeholder.com/400x400")
                  figure
                    img(src="https://via.placeholder.com/400x400")

    include partials/_footer.pug