include partials/_variables.pug
include partials/_mixins.pug

doctype html
html(dir='ltr', lang='en')
  include partials/_head.pug
  body.mediawiki.ltr.ns-0.ns-subject.page-Kyber_crystal.oasis-breakpoints.skin-oasis.user-anon.background-fixed.background-not-tiled.background-dynamic.wiki-starwars
    .background-image-gradient
    .WikiaSiteWrapper#app
      h2 FANDOM
      #ad-skin.wikia-ad.noprint

      include partials/_global-nav.pug

      include partials/_header.pug
      
      // empty onclick event needs to be applied here to ensure that wds dropdowns work correctly on ios
      section#WikiaPage.WikiaPage.V2(onclick='')
        #WikiaPageBackground.WikiaPageBackground
        .WikiaPageContentWrapper
          header#PageHeader.page-header
            .page-header__main
              .page-header__categories
                span.page-header__categories-in(data-tracking='categories-top-in') in:
                .page-header__categories-links
                  a(href='https://starwars.fandom.com/wiki/Category:Canon_articles') Canon articles
                  | , 
                  a(href='https://starwars.fandom.com/wiki/Category:Legends_articles', data-tracking='categories-top-2') Legends Articles
                  | , 
                  a(href='https://starwars.fandom.com/wiki/Category:Canon_articles_with_Legends_content') Canon articles with Legends content
                  | , 
                  a(href='https://starwars.fandom.com/wiki/Category:Legends_articles_with_Canon_content') Legends articles with Canon content
                  | , 
                  a(href='https://starwars.fandom.com/wiki/Category:Banned_users') Banned Users
                  .wds-dropdown.page-header__categories-dropdown
                    span and 
                    a(href="https://starwars.fandom.com/wiki/Special:Categories?limit=5000000") 27,131 more
              h1.page-header__title Achilles' Heelies
            .page-header__contribution
              div
                // Empty div to ensure $actionButton is always pushed to bottom of the container
              .page-header__contribution-buttons
                a#ShareEntryPoint.wds-button.wds-is-secondary(href='#')
                  svg#wds-icons-share-small.wds-icon.wds-icon-small(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 18 18')
                    defs
                      path#share-small(d='M14.5 15a1.502 1.502 0 0 1-1.406-2.022l.022-.05.017-.045c.236-.52.76-.883 1.367-.883.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5M4.906 9.522l-.022.05-.017.045c-.236.52-.76.883-1.367.883C2.673 10.5 2 9.827 2 9s.673-1.5 1.5-1.5c.607 0 1.131.363 1.367.883l.017.045.022.05a1.482 1.482 0 0 1 0 1.044M14.5 3c.827 0 1.5.673 1.5 1.5S15.327 6 14.5 6a1.503 1.503 0 0 1-1.367-.883l-.017-.045-.022-.05A1.502 1.502 0 0 1 14.5 3m0 7c-1.098 0-2.08.508-2.722 1.303L6.983 9.348a3.653 3.653 0 0 0 0-.696l4.795-1.955A3.492 3.492 0 0 0 14.5 8C16.43 8 18 6.43 18 4.5S16.43 1 14.5 1a3.504 3.504 0 0 0-3.483 3.848L6.222 6.803A3.492 3.492 0 0 0 3.5 5.5C1.57 5.5 0 7.07 0 9s1.57 3.5 3.5 3.5c1.098 0 2.08-.508 2.722-1.303l4.795 1.955A3.504 3.504 0 0 0 14.5 17c1.93 0 3.5-1.57 3.5-3.5S16.43 10 14.5 10')
                    use(fill-rule='evenodd', xlink:href='#share-small')
                  span Share
          hr.page-header__separator
          article#WikiaMainContent.WikiaMainContent
            #WikiaMainContentContainer.WikiaMainContentContainer
              #WikiaArticle.WikiaArticle
                .home-top-right-ads
                #mw-content-text.mw-content-ltr.mw-content-text(dir='ltr', lang='en')
                  
                  .canon-v-legends
                    a(@click="mode = 'canon'" :class="{ dark: mode == 'canon', light: mode == 'legends'}")
                      img(src="img/canon-white.webp" v-if="mode == 'canon'")
                      img(src="img/canon-black.webp" v-if="mode == 'legends'")
                    a(@click="mode = 'legends'" :class="{ dark: mode == 'legends', light: mode == 'canon'}")
                      img(src="img/legends-black.webp" v-if="mode == 'canon'")
                      img(src="img/legends-white.webp" v-if="mode == 'legends'")



                  .disambig.noprint(style="background:#ddd; border-radius:6px; margin-top:20px; margin-bottom:20px; padding:20px;" v-if="mode == 'canon'")
                    p This article is about The F Plus Ridiculist.  You may be looking for Footwear of Greek Mythology, cool shoes to buy when your wife divorces you, or probably just pictures of Star Wars actresses barefoot. Head on over to 
                      a(href="https://www.wikifeet.com/") WikiFeet
                      | , you gross nerd!

                  div(style='background: #7BB0D8; color: #000; border-radius:6px; margin-bottom:20px; padding:20px;' v-if="mode == 'legends'")
                    img(src="img/ackbar.jpg" style="float:left; margin-right:20px;")
                    h1(style="font-size:150%; font-weight:bold;") It's a trap!
                    p That's a thing that they say in a Star Wars movie and I typed it! Now you're reading a line from a Star Wars movie on your computer. Isn't that nice? Hey, do you remember Star Wars? Star Wars you guys!

                  
                  include partials/_infobox.pug

                  .quote
                    dl
                      dd
                        span
                          | "
                          i Female ejaculation is actually just pee.
                          | "
                      dd
                        | ―
                        a(href='https://starwars.fandom.com/wiki/Chirrut_%C3%8Emwe', title='Chirrut Îmwe') Chirrut Îmwe
                        span.noprint
                          sup
                            a(href='https://starwars.fandom.com/wiki/Rogue_One:_A_Star_Wars_Story', title='Rogue One: A Star Wars Story') [src]

                  include partials/_content.pug

              nav#articleCategories.article-categories(style="font-size:75%")
                #catlinks.catlinks
                  #mw-normal-catlinks.mw-normal-catlinks
                    a(href='https://starwars.fandom.com/wiki/Special:Categories', title='Special:Categories', rel='nofollow') Categories
                    | : 
                    ul
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Canon_articles', title='Category:Canon articles') Canon articles
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Articles_in_need_of_updating', title='Category:Articles in need of updating') Articles in need of updating
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Articles_with_an_excess_of_redlinks', title='Category:Articles with an excess of redlinks') Articles with an excess of redlinks
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Pages_needing_citation', title='Category:Pages needing citation') Pages needing citation
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Lightsaber_crystals', title='Category:Lightsaber crystals') Lightsaber crystals
                  #mw-hidden-catlinks.mw-hidden-catlinks.mw-hidden-cats-hidden
                    | Hidden category: 
                    ul
                      li
                        a(href='https://starwars.fandom.com/wiki/Category:Canon_articles_with_Legends_counterparts', title='Category:Canon articles with Legends counterparts') Canon articles with Legends counterparts
              .license-description
                | Community content is available under 
                a(href='https://www.fandom.com/licensing') CC-BY-SA
                |  unless otherwise noted.


          include partials/_sidebar.pug

          include partials/_underboxes.pug

    include partials/_footer.pug